.shimmer-animation {
  animation : shimmer 3s infinite;
  background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
  background-size: 1000px 100%;
}

$borderRadius: 18px;

.templates-view-gray-bg {
  width: CALC(100vw + 400px);
  height: 270px;
  background-color: #f8f8f8;
  position: absolute;
  inset-inline-start: -200px;
  z-index: 0;
  top: 250px;
}
.templates-view {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 10px;
  padding-bottom: 50px;
  margin-bottom: 10px;
  gap: 20px;
  width: 100%;

  &.with-divider {
    border-bottom:1px solid #efefef;
  }

  &-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.trip-template {
  width: 268px;
  height: 356px;
  overflow: hidden;
  position: relative;
  border-radius: 18px;

  &:hover {
    .trip-template-background {
      transform: scale(1.3);
    }
  }

  .trip-template-background {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease; /* Smooth zoom effect */
    border-radius: $borderRadius;
    background-size: cover;
    background-position: center;
  }

  .trip-template-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: start;
    border-radius: $borderRadius;
    position: absolute;
    bottom: 0;

    &-bottom-shadow {
      padding: 15px;
      background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.6));
      border-bottom-right-radius: 18px;
      border-bottom-left-radius: 18px;
    }
  }
}