.toastr-container {
  position: fixed;
  bottom: 0;
  right: -100%;
  padding: 16px;
  text-align: center;
  z-index:999999999;

  &.show {
    right: 0;
  }

  .toast {
    padding-block: 5px !important;
    padding-inline: 10px !important;
    transition: all 0.3s ease-in-out;
    text-align: center;

    &.show {
      opacity: 0.7 !important;
    }
  }
}

body.rtl {
  .toastr-container {
    right: unset;
    left: -100%;

    &.show {
      left: 0;
    }
  }
}