.search-container {
  position: relative;
  width: 100%;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.search-box {
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  height: 56px;
  border: 1px solid #ccc;
  border-radius: 44px;
  width: max-content;
  padding-inline: 6px;

  .search-input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    outline: none;
    border: 0 !important;
  }

  .search-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 44px;
    cursor: pointer;
    outline: none;
  }
}

.search-button:hover {
  background-color: #0056b3;
}

.suggestions-container {
  position: absolute;
  top: CALC(100% + 2px);
  left: 30px;
  width: CALC(100% + 70px);
  max-height: 300px;
  overflow-y: auto;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 999999999999;

  .suggestion-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
  }
}

.suggestion-item:hover {
  background-color: #f9f9f9;
}

.suggestion-name {
  font-weight: bold;
  margin-bottom: 5px;
  color: black;
}

.suggestion-descriptor {
  color: #666;
  font-size: 14px;
}

@media only screen and (max-width: 600px) {
  .search-input {
    min-width: 200px !important;
  }
  .suggestions-container {
    width: 270px;
  }
}