.destination-selector-container {
  width: 100%;
  max-width: 300px;
  min-width: 300px;
  text-align: start;

  .select__control {
    border: 1px solid #dde3eb;
    border-radius: 20px;
  }

  .option-label {
    display: flex;
    gap: 4px;
    align-items: center;
  }

  .selected-chips {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
  }

  .chip {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: #e0e0e0;
    font-size: 14px;

    span {
      margin-right: 5px;
    }
  }
}