.destination-selector-container {
	width: 100%;
	max-width: 300px;
	min-width: 300px;
	text-align: start;

	.select__control {
		border: 1px solid var(--tp-white-8);
		border-radius: 20px;
	}

	.option-label {
		display: flex;
		gap: 4px;
		align-items: center;
	}

	.selected-chips {
		display: flex;
		flex-wrap: wrap;
		gap: 5px;
		margin-top: 10px;
	}

	.chip {
		display: flex;
		align-items: center;
		padding: 5px 10px;
		border-radius: 15px;
		background-color: var(--tp-gray-2);
		font-size: 14px;

		span {
			margin-right: 5px;
		}
	}
}
