.add-poi-form-container {
	.add-poi-form {
		max-width: 400px;
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 16px;

		.image-upload-buttons {
			display: flex;
			flex-direction: row;
			gap: 8px;
		}

		.file-input {
			display: none;
		}

		.file-label {
			display: inline-block;
			padding-block: 5px;
			padding-inline: 10px;
			background-color: #eaeaea;
			width: max-content;
			color: black;
			border-radius: 30px;
			cursor: pointer;
			transition: opacity 0.2s ease-in-out;

			&.disabled {
				cursor: default !important;
			}

			&.remove {
				background-color: var(--red);
				color: white;
			}

			&:not(.disabled):hover {
				opacity: 0.6;
			}
		}

		.location-input-container {
			.fa.fa-map-marker {
				top: 3px !important;
			}
		}

		.destination-selector-container {
			max-width: 400px;
			width: 100%;

			.select__control {
				border-radius: 8px !important;
			}
			.select__input {
				border: 0 !important;
			}
		}

		.triplan-selector {
			width: 100% !important;
			min-width: 200px !important;

			div[class$='-control'] {
				border: 1px solid var(--gray);
				border-radius: 8px;
			}

			#react-select-1-input,
			#react-select-2-input,
			#react-select-3-input {
				border: 0 !important;
			}

			#react-select-1-placeholder,
			#react-select-2-placeholder,
			#react-select-3-placeholder {
				color: #cccccc !important;
			}
		}

		input[type='text'],
		textarea,
		input[type='number'] {
			background-color: transparent !important;
			outline: none;
			border: 1px solid var(--gray);
			border-radius: 8px;
			height: 40px;
			line-height: 40px;
			padding-inline-start: 8px;
			font-size: 12px;
			width: 100% !important;
			min-width: 200px !important;

			&::placeholder {
				color: var(--gray) !important;
			}

			&:disabled {
				border: 1px solid var(--gray) !important;
			}
		}

		textarea {
			line-height: normal;
			height: 70px;
		}
	}
}

body.rtl {
	.add-poi-form-container {
		direction: rtl;
		text-align: right;
	}
}

// mobile
@media only screen and (max-width: 600px) {
	.add-poi-form {
		padding-inline: 20px;

		.image-upload-buttons {
			flex-wrap: wrap;
			gap: 4px !important;
			/*
      flex-direction: column !important;
      gap: 0 !important;
      align-items: center;
      justify-content: center;
      width: 100%;

      label {
        text-align: center;
      }*/
		}
	}
}
