.triplan-admin-page-container {
  min-height: 100vh;
  height: 100%;
  background-color: white;
}

// mobile
@media only screen and (max-width: 600px) {
  .triplan-admin-page-container {
    .triplan-header-banner-footer:not(.search-results-content):not(.view-item-content) .tabular.menu .item {
      font-size: 16px !important;
    }
  }
}