.rtl {
	.triplan-footer {
		direction: rtl;
		text-align: start;
	}
}

.triplan-footer {
	width: 100%;
	background-color: #2d2d2d;
	min-height: 60px;
	display: flex;
	padding-block: 20px;
	align-items: start;
	//text-align: center;
	color: white;
	justify-content: space-around;
	padding-inline: 296px;

	.white-color {
		color: white !important;
	}
}

@media only screen and (max-width: 600px) {
	.rtl .triplan-footer,
	.triplan-footer {
		padding-inline: 0;
		align-items: center;
		text-align: center;
		flex-direction: column;
		gap: 30px;
	}
}
