.triplan-main-page-container {
	min-height: 100vh;
	height: 100%;
	background-color: white;
}

.main-feed-description,
.main-feed-header {
	padding-inline: 106px;
	align-self: flex-start;
}

body.rtl {
	.main-feed-header {
		text-align: right;
	}
}

.main-feed-header {
	font-weight: bold;
	font-size: 2.25rem;
	line-height: 2.75rem;
	display: flex;
	justify-content: space-between;
}

.triplan-header-banner-footer {
	//top: 471px;
	top: -57px;
	position: relative;
	z-index: 2;

	padding-inline: 126px;

	.tabular.menu {
		padding-inline: 126px;
	}

	.tab {
		border-color: white !important;
	}
	.ui.tabular.menu .active.item {
		border-top-left-radius: 30px !important;
		border-top-right-radius: 30px !important;
	}

	.menu {
		border-color: white !important;
		.item {
			flex: 1 1 0;
			text-align: center;
			justify-content: center;
			font-size: 20px;

			&:not(.active) {
				color: white !important;
			}
		}
	}
}

@media only screen and (max-width: 600px) {
	.main-feed-description,
	.main-feed-header {
		padding-inline: 25px !important;
	}
	.tabular.menu {
		//padding-inline: 0 !important;
		padding-inline: 10px !important;
	}

	.triplan-header-banner-footer {
		top: -40px; // -56px
		//top: -56px;
		padding-inline: 10px;
	}

	// change language modal on mobile
	.triplan-main-page-container + div {
		> div {
			padding: 0 !important;
		}

		.triplan-react-modal {
			margin-bottom: 0 !important;
		}
	}

	.feed-view-filter-bar {
		flex-direction: column-reverse !important;
		gap: 16px;
		text-align: center;
		align-items: center;
	}
}

.triplan-main-page-container:has(.plan-trip-tab-menu) {
	.main-layout-container {
		overflow-y: scroll;
		//margin-bottom: 20px;
		margin-bottom: 0;
		padding-bottom: 0;

		.main-layout,
		.map-container {
			margin-bottom: 0 !important;
			padding-bottom: 0 !important;
		}
	}
	.triplan-header-actionbar {
		.search-container,
		.view-selector {
			display: none;
		}

		.triplan-header-spacer {
			padding: 0 !important;
		}
	}
}

// overrides / special behaviors:
.triplan-plan-page-container {
	.triplan-header-banner-slogan {
		width: 100%;
	}

	.triplan-header-banner-header-line {
		padding-inline: 50px !important;
	}
}
