.external-events-container {
	display: flex;
	flex-direction: column;
	gap: 20px;

	overflow-y: auto;
	position: sticky;

	padding-inline-end: 10px;
	width: fit-content;
	max-width: 420px;
	min-width: 400px;

	transition: max-width 0.3s ease-in-out;

	.minimize-sidebar-container {
		button {
			transition: all 0.3s ease-in-out;
		}
	}

	&.sidebar-minimized {
		min-width: 0 !important;
		max-width: 0 !important;
		width: 0 !important;
		padding: 0 !important;
		height: 0 !important;

		+ .minimize-sidebar-container {
			font-size: 12px;
			position: absolute;
			left: 15px;
			margin-top: 6px;

			button {
				background-color: var(--tp-white-2) !important;
				min-width: 25px !important;
				min-height: 25px !important;
			}
		}
	}
}

body.rtl {
	.external-events-container {
		&.sidebar-minimized {
			+ .minimize-sidebar-container {
				left: unset;
				right: 15px;
			}
		}
	}
}

.custom-dates-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	//padding: 10px;
	padding-top: 10px;
	//background: #eaeff5;
	//border: 1px solid #dde3eb;
	border-radius: 20px;
	transition: all 0.3s ease-in-out;
	opacity: 1;

	.hidden {
		height: 0;
		overflow: hidden;
		border: 0;
		padding: 0;
		opacity: 0;
		transition: all 0.3s ease-in-out;
		position: absolute;
		top: -2000px;
	}
}

.custom-dates-line {
	display: flex;
	gap: 7.5px;
}
.trip-name-line,
.custom-dates-line {
	input {
		border: 1px solid var(--tp-white-8);
		border-radius: 20px;
		padding: 5px;
		flex-grow: 1;
		flex-shrink: 0;
		padding-inline-start: 10px;
	}
}

.custom-dates-line input[type='date'] {
	/* dates are always ltr since they are in english */
	direction: ltr;
}

/*.custom-dates-line input {*/
/*    max-width: 150px !important;*/
/*}*/

.trip-name-line {
	width: 300px;
}

.external-events .fc-event-main {
	margin: 1em 0;
	cursor: move;
	padding: 2px;
}

.custom-dates-submit button {
	width: 100%;
}

.preferred-time {
	/*background-color: #d4dfec;*/
	font-size: 12px;
	font-weight: bold;
	padding-block: 4px;
	/*border-radius: 10px;*/
	display: flex;
	flex-direction: row;
	gap: 5px;
	align-items: center;
}
.preferred-time .preferred-time-divider {
	display: flex;
	flex: 1 1 0;
	border-bottom: 1px solid var(--tp-gray-5);
	height: 1px;
}

.preferred-time .preferred-time-title {
	text-align: start;
	font-size: 14px;
}

.sidebar-events {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.sidebar-event-title-container {
	display: flex;
	width: 100%;
	flex: 1 1 0;
	min-width: 0;

	.sidebar-event-title-text {
		margin-inline-end: 3px;
		flex: 1 1 0;
		max-width: max-content;
		width: max-content !important;
	}

	.sidebar-event-duration {
		display: flex;
		max-width: max-content;
		flex-shrink: 1;
		min-width: 0;
	}

	.sidebar-event-icon {
		margin-inline-end: 3px;
	}
}

.sidebar-statistics {
	text-align: start;
	border: 0;
	background: transparent;
	display: flex;
	flex-direction: row;
	align-items: center;
	transition: all 0.3s ease-in-out;

	padding-inline: 6px;
	gap: 8px;
	min-height: 38px;
}

.category-actions {
	display: flex;
	gap: 5px;
	padding-block-end: 10px;
}

.triplan-sidebar-filtered-text {
	font-size: 11px;
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;
	margin-bottom: 10px;

	background-color: var(--tp-transparent-black-03);
	padding: 2.5px;
	border-radius: 20px;

	span {
		//display: flex;
		//flex-shrink: 1;
		//flex-grow: 1;
		//min-width: 0;
	}

	a {
		color: var(--blue) !important;
		cursor: pointer;
		//display: flex;
		//flex-grow: 1;
		//flex-shrink: 0;

		&:hover {
			opacity: 0.6;
		}
	}
}

.sidebar-distances-block {
	display: flex;
	flex-direction: column;
	gap: 10px;
	//padding-top: 10px;
	padding-block: 10px;

	.sidebar-distances-select-row {
		&.input-with-label {
			padding-top: 0;
			gap: 10px !important;
			font-size: 14px;

			label {
				min-width: 50px;
				height: 100%;
				margin-bottom: 0;
			}

			.triplan-selector {
				max-width: 100%;
				display: flex;
				flex: 1 1 0;
				min-width: 0;
			}
		}
	}

	.sidebar-distances-block-result {
		background-color: var(--black-bg);
		border-radius: 18px;
		color: var(--brown-gray);
		margin-inline-start: 30px;
		min-width: 280px;
		padding-inline: 8px;

		display: flex;
		flex: 1 1 0;
	}

	.sidebar-distance-result {
		margin-bottom: 6px;
	}
}

.no-nearby-placeholder {
	background-color: var(--black-bg);
	border-radius: 18px;
	color: var(--brown-gray);
	min-width: 280px;
	padding: 8px 16px;
	line-height: 10px;
	padding-block: 16px 8px;

	display: inline-block;
	button {
		display: inline-block;
	}
}

.nearby-places {
	.triplan-selector {
		max-width: unset;
		width: 100%;

		min-width: 0;
		display: flex;
		flex: 1 1 0;
	}

	.nearby-places-results {
		padding-inline-end: 5px;
		max-height: 350px;
		overflow-y: auto;
		display: flex;
		flex-direction: column;
		gap: 10px;

		.nearby-result-distance-string {
			font-size: 12px;
			margin-bottom: 5px;

			background-color: var(--black-bg);
			border-radius: 10px;
			color: var(--brown-gray);
			margin-inline-start: 5px;
			min-width: 280px;
			padding-inline: 16px;
			padding-block: 4px;
			display: flex;
		}
	}
}

body.rtl {
	.sidebar-distances-select-row {
		&.input-with-label {
			text-align: center;

			label {
				min-width: 20px;
			}
		}
	}

	.sidebar-distance-result {
		text-align: right;
	}
}

.triplan-collaborator {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
	background-color: var(--tp-white-1);
	padding-block: 5px;
	border-top: 1px solid var(--tp-gray-3);
	border-bottom: 1px solid var(--tp-gray-3);

	.collaborator-permissions {
		.link-button {
			min-height: 26px;
		}
	}
}

.triplan-history {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
	background-color: var(--tp-white-1);
	padding-block: 5px;
	border-top: 1px solid var(--tp-gray-3);
	border-bottom: 1px solid var(--tp-gray-3);
	transition: all 0.2s ease-in-out;

	&:hover {
		opacity: 0.7;
	}
}

.triplan-tasks-navbar {
	background-color: var(--tp-white-7);
	border-block: 1px solid var(--tp-gray-4);
	align-items: center;
	justify-content: center;

	.tasks-search-container {
		margin-bottom: 8px;
		.search-container {
			padding: 0;
			padding-inline-start: 5px;
			max-width: CALC(100% - 20px);

			.triplan-text-input input[type='text'] {
				min-width: 95px;
			}
		}
	}

	button {
		min-height: 30px !important;
	}
}

@media only screen and (min-width: 750px) {
	.external-events-container {
		height: calc(100vh - 200px); /* Set fixed height to match parent container */
		position: relative;
		z-index: 3; /* Set higher than calendar to ensure proper stacking */
	}
}
