.external-events-container {
	display: flex;
	flex-direction: column;
	gap: 20px;

	/*max-height: 945px;*/ /* causing weird double scroll behavior */
	overflow-y: auto;
	position: sticky;

	padding-inline-end: 10px;
	width: fit-content;
	max-width: 490px;
	min-width: 400px;
}
.custom-dates-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px;
	background: #eaeff5;
	border: 1px solid #dde3eb;
	border-radius: 20px;
	transition: all 0.3s ease-in-out;
	opacity: 1;

	.hidden {
		height: 0;
		overflow: hidden;
		border: 0;
		padding: 0;
		opacity: 0;
		transition: all 0.3s ease-in-out;
		position: absolute;
		top: -2000px;
	}
}

.custom-dates-line {
	display: flex;
	gap: 7.5px;
}
.trip-name-line,
.custom-dates-line {
	input {
		border: 1px solid #dde3eb;
		border-radius: 20px;
		padding: 5px;
		flex-grow: 1;
		flex-shrink: 0;
		padding-inline-start: 10px;
	}
}

.custom-dates-line input[type='date'] {
	/* dates are always ltr since they are in english */
	direction: ltr;
}

/*.custom-dates-line input {*/
/*    max-width: 150px !important;*/
/*}*/

.trip-name-line {
	width: 300px;
}

.external-events .fc-event-main {
	margin: 1em 0;
	cursor: move;
	padding: 2px;
}

.custom-dates-submit button {
	width: 100%;
}

.preferred-time {
	/*background-color: #d4dfec;*/
	font-size: 12px;
	font-weight: bold;
	padding-block: 4px;
	/*border-radius: 10px;*/
	display: flex;
	flex-direction: row;
	gap: 5px;
	align-items: center;
}
.preferred-time .preferred-time-divider {
	display: flex;
	flex: 1 1 0;
	border-bottom: 1px solid #ccc;
	height: 1px;
}

.preferred-time .preferred-time-title {
	text-align: start;
	font-size: 14px;
}

.sidebar-events {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.sidebar-event-title-container {
	display: flex;
	width: 100%;

	.sidebar-event-title-text {
		margin-inline-end: 3px;
		flex-basis: content;
		flex-grow: 0;
		word-break: break-word;
		min-width: 30px;
	}

	.sidebar-event-icon {
		margin-inline-end: 3px;
	}

	.sidebar-event-duration {
		min-width: fit-content;
	}
}

.sidebar-statistics {
	text-align: start;
	border: 0;
	background: transparent;
	display: flex;
	flex-direction: row;
	align-items: center;
	transition: all 0.3s ease-in-out;

	padding-inline: 6px;
	gap: 8px;
	height: 38px;
}

.category-actions {
	display: flex;
	gap: 5px;
	padding-block-end: 10px;
}

.triplan-sidebar-filtered-text {
	font-size: 11px;
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;
	margin-bottom: 10px;

	background-color: rgba(0,0,0,0.03);
	padding: 2.5px;
	border-radius: 20px;

	span {
		//display: flex;
		//flex-shrink: 1;
		//flex-grow: 1;
		//min-width: 0;
	}

	a {
		color: var(--blue) !important;
		cursor: pointer;
		//display: flex;
		//flex-grow: 1;
		//flex-shrink: 0;

		&:hover {
			opacity: 0.6;
		}
	}
}

.sidebar-distances-block {
	display: flex;
	flex-direction: column;
	gap: 10px;

	.sidebar-distances-select-row {
		&.input-with-label {
			padding-top: 0;
			gap: 10px !important;
			font-size: 14px;

			label {
				min-width: 50px;
				height: 100%;
				margin-bottom: 0;
			}

			.triplan-selector {
				min-width: 280px;
				max-width: 280px;
				width: 280px;
			}
		}
	}
}

body.rtl {
	.sidebar-distances-select-row {
		&.input-with-label {
			text-align: center;

			label {
				min-width: 20px;
			}
		}
	}
}
