.sidebar-group {
	padding-inline-start: 10px;
	cursor: pointer;
	background-color: var(--tp-white-8-80);
	border-bottom: 1px solid var(--tp-white-8);
	height: 45px;
}

.sidebar-group-content {
	&.open {
		max-height: auto;
		padding: 10px;
		transition: padding 0.2s ease, max-height 0.3s ease-in-out;
	}

	&.closed {
		max-height: 0;
		overflow-y: hidden;
		padding: 0;
		transition: padding 0.2s ease, max-height 0.3s ease-in-out;
	}
}
