.external-events-container {
	display: flex;
	flex-direction: column;
	gap: 20px;

	/*max-height: 945px;*/ /* causing weird double scroll behavior */
	overflow-y: auto;
	position: sticky;

	padding-inline-end: 10px;
	width: fit-content;
	max-width: 490px;
	min-width: 400px;
}
.custom-dates-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px;
	background: #eaeff5;
	border: 1px solid #dde3eb;
	border-radius: 20px;
	transition: all 0.3s ease-in-out;
	opacity: 1;

	.hidden {
		height: 0;
		overflow: hidden;
		border: 0;
		padding: 0;
		opacity: 0;
		transition: all 0.3s ease-in-out;
		position: absolute;
		top: -2000px;
	}
}

.custom-dates-line {
	display: flex;
	gap: 7.5px;
}
.trip-name-line,
.custom-dates-line {
	input {
		border: 1px solid #dde3eb;
		border-radius: 20px;
		padding: 5px;
		flex-grow: 1;
		flex-shrink: 0;
		padding-inline-start: 10px;
	}
}

.custom-dates-line input[type='date'] {
	/* dates are always ltr since they are in english */
	direction: ltr;
}

/*.custom-dates-line input {*/
/*    max-width: 150px !important;*/
/*}*/

.trip-name-line {
	width: 300px;
}

.external-events .fc-event-main {
	margin: 1em 0;
	cursor: move;
	padding: 2px;
}

.custom-dates-submit button {
	width: 100%;
}

.preferred-time {
	/*background-color: #d4dfec;*/
	font-size: 12px;
	font-weight: bold;
	padding-block: 4px;
	/*border-radius: 10px;*/
	display: flex;
	flex-direction: row;
	gap: 5px;
	align-items: center;
}
.preferred-time .preferred-time-divider {
	display: flex;
	flex: 1 1 0;
	border-bottom: 1px solid #ccc;
	height: 1px;
}

.preferred-time .preferred-time-title {
	text-align: start;
	font-size: 14px;
}

.sidebar-events {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.sidebar-event-title-container {
	display: flex;
	width: 100%;

	.sidebar-event-title-text {
		margin-inline-end: 3px;
		flex: 1 1 0;
		max-width: max-content;
		//flex-basis: content;
		//flex-grow: 1;
		//word-break: break-all;
		//background-color: green !important;
		//min-width: unset !important;
		width: max-content !important;
		////min-width: max-content;
		////white-space: nowrap;
		//
		//
		////flex-grow: 1; /* Allow the text to expand if there's not enough space */
		//overflow: hidden; /* Hide overflowed text if it exceeds the container width */
		//text-overflow: ellipsis; /* Show ellipsis (...) for truncated text */
		//white-space: nowrap; /* Prevent line breaks for long text */
	}

	.sidebar-event-duration {
		display: flex;
		max-width: max-content;
		flex-shrink: 1;
		min-width: 0;
		//background-color:red;
	}

	.sidebar-event-icon {
		margin-inline-end: 3px;
	}

	.sidebar-event-duration {
		//min-width: fit-content;
	}
}

.sidebar-statistics {
	text-align: start;
	border: 0;
	background: transparent;
	display: flex;
	flex-direction: row;
	align-items: center;
	transition: all 0.3s ease-in-out;

	padding-inline: 6px;
	gap: 8px;
	min-height: 38px;
}

.category-actions {
	display: flex;
	gap: 5px;
	padding-block-end: 10px;
}

.triplan-sidebar-filtered-text {
	font-size: 11px;
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;
	margin-bottom: 10px;

	background-color: rgba(0,0,0,0.03);
	padding: 2.5px;
	border-radius: 20px;

	span {
		//display: flex;
		//flex-shrink: 1;
		//flex-grow: 1;
		//min-width: 0;
	}

	a {
		color: var(--blue) !important;
		cursor: pointer;
		//display: flex;
		//flex-grow: 1;
		//flex-shrink: 0;

		&:hover {
			opacity: 0.6;
		}
	}
}

.sidebar-distances-block {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-top: 10px;

	.sidebar-distances-select-row {
		&.input-with-label {
			padding-top: 0;
			gap: 10px !important;
			font-size: 14px;

			label {
				min-width: 50px;
				height: 100%;
				margin-bottom: 0;
			}

			.triplan-selector {
				max-width: 100%;
				display: flex;
				flex: 1 1 0;
				min-width: 0;
			}
		}
	}

	.sidebar-distances-block-result {
		background-color: var(--black-bg);
		border-radius: 18px;
		color: var(--brown-gray);
		margin-inline-start: 30px;
		min-width: 280px;
		padding-inline: 8px;

		display: flex;
		flex: 1 1 0;
	}

	.sidebar-distance-result {
		margin-bottom: 6px;
	}
}

.no-nearby-placeholder {
	background-color: var(--black-bg);
	border-radius: 18px;
	color: var(--brown-gray);
	min-width: 280px;
	padding: 8px 16px;
	line-height: 10px;
	padding-block: 16px 8px;

	display: inline-block;
	button {
		display: inline-block;
	}
}

.nearby-places {
	.triplan-selector {
		max-width: unset;
		width: 100%;
	}

	.nearby-places-results {
		padding-inline-end: 5px;
		max-height: 350px;
		overflow-y: auto;
		display: flex;
		flex-direction: column;
		gap: 10px;

		.nearby-result-distance-string {
			font-size: 12px;
			margin-bottom: 5px;

			background-color: var(--black-bg);
			border-radius: 10px;
			color: var(--brown-gray);
			margin-inline-start: 5px;
			min-width: 280px;
			padding-inline: 16px;
			padding-block: 4px;
			display: flex;
		}
	}
}

body.rtl {
	.sidebar-distances-select-row {
		&.input-with-label {
			text-align: center;

			label {
				min-width: 20px;
			}
		}
	}

	.sidebar-distance-result {
		text-align: right;
	}
}
