body.rtl {
  .mobile-header {
    direction: rtl;
  }
}

.mobile-header {
  min-height: 60px;
  height: max-content;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: #eaeff5; // #eeeeee;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .mobile-header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-inline-end: 20px;
    padding-inline-start: 10px;

    i {
      font-size: 20px;
      font-weight: normal;
    }
  }
}
