:root {
	--navBg: #eaeff5;
}

.mobile-navbar {
	background-color: var(--navBg);
}

.nav-menu {
	//background-color: var(--navBg);
	background-color: #f3f5f8;
	width: 250px;
	height: 100vh;
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0;
	inset-inline-end: -100%;
	transition: 850ms;
	box-shadow: rgb(0 0 0 / 20%) 0 1px 20px -1px;
	z-index: 10000;

	&.active {
		inset-inline-end: 0;
		transition: 350ms;
	}
}

.navbar-toggle {
	border-bottom: 1px solid rgb(229, 233, 239);
}

.nav-text {
	display: flex;
	justify-content: start;
	align-items: center;
	padding: 8px 16px;
	list-style: none;
	height: 60px;
	border-bottom: 1px solid rgb(229, 233, 239);

	&.active {
		background-color: rgba(255, 255, 255, 0.2);

		a {
			color: var(--blue) !important;
		}
	}

	a {
		text-decoration: none;
		font-size: 18px;
		width: 95%;
		height: 100%;
		display: flex;
		align-items: center;
		border-radius: 4px;
		color: #2d2d2d;
		direction: ltr;
	}

	&:hover {
		background-color: rgba(255, 255, 255, 0.2);

		a {
			text-decoration: none;
		}
	}
}

body.rtl {
	.nav-text a {
		direction: rtl;
	}
}

.nav-menu-items {
	width: 100%;
	padding: 0;
}

.navbar-toggle {
	background-color: var(--navBg);
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: start;
	align-items: center;
	padding-inline-start: 8px;
}

li {
	a {
		display: flex;
		gap: 10px;
	}
}

.nav-menu-items {
	display: flex;
	flex-direction: column;

	.menu-items-links-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex: 1 !important;

		.logout-link {
			border-top: 1px solid rgb(229, 233, 239);
		}
	}
}

.main-page {
	.menu-items-links-container {
		padding-bottom: 57px; // due to the footer mobile view navigation
	}
}

.background-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.6);
	transition: 0.5s;
}
