.hamburger-icon {
	height: 32px;
	width: 32px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	padding: 4px;
	z-index: 10;

	.hamburger-line-1 {
		height: 2px;
		width: 20px;
		background: white;
		transition: all 0.2s ease 0s;
		transform: none;
		transform-origin: left top;
		margin-bottom: 5px;
	}

	.hamburger-line-2 {
		height: 2px;
		width: 20px;
		background: white;
		transition: all 0.2s ease 0s;
		opacity: 1;
		transform: none;
	}

	.hamburger-line-3 {
		height: 2px;
		width: 20px;
		background: white;
		transition: all 0.2s ease 0s;
		transform: none;
		transform-origin: left top;
		margin-top: 5px;
	}

	&.open {
		.hamburger-line-1 {
			transform: rotate(45deg);
			margin-left: 3px;
		}

		.hamburger-line-2 {
			opacity: 0;
		}

		.hamburger-line-3 {
			transform: rotate(-45deg);
		}
	}
}
