.location-picker-container {
	height: 40px;
	border-radius: 4px;
	background-color: #fff;
	border: solid 1px #d9d9d9;
	font-size: 15px;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 10px;
}
.location-picker-container .location-input {
	border: unset;
	flex: 1;
	margin-inline-end: 10px;
}
.location-picker-container.disabled {
	background: rgba(235, 235, 228, 0.5);
	opacity: 0.7;
}
