.location-picker-container {
	height: 40px;
	border-radius: 4px;
	background-color: var(--tp-white-1);
	border: solid 1px var(--tp-gray-4);
	font-size: 15px;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 10px;
}
.location-picker-container .location-input {
	border: unset;
	flex: 1;
	margin-inline-end: 10px;
}
.location-picker-container.disabled {
	background: var(--tp-transparent-gray-2);
	opacity: 0.7;
}
