.search-container {
	padding-inline: 10px;
	display: flex;
	flex-grow: 1;
	max-width: 300px;
	transition: 350ms;

	&.hidden {
		width: 0;
		height: 0;
		position: absolute;
		left: -100%;

		input {
			min-width: 0;
			height: 0;
		}
	}

	.triplan-text-input {
		width: 100%;

		input[type='text'] {
			padding-inline: 10px;
			border: 1px solid #dde3eb;
			border-radius: 20px;
			height: 40px;
			min-width: 200px;
			width: 100%;
			transition: all 0.5s ease-in-out;
		}
	}
}
