.menu-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	background: black;
	opacity: 0.95;
	color: rgb(250, 250, 250);
	transition: all 0.6s ease-in-out;
	z-index: 2;
	height: 0;
	max-height: 100px;
	overflow: hidden;

	&.open {
		height: max-content;
		max-height: 1000px;
	}

	.menu-item {
		padding-bottom: 8px;

		.menu-item-text {
			font-size: 1.2rem;
			padding: 1rem 0;
			margin: 0 5%;
			cursor: pointer;
			color: rgb(250, 250, 250);
			transition: color 0.2s ease-in-out 0s;
			animation: 0.5s ease 0s 1 normal forwards running slideIn;
		}

		.menu-item-followup {
			width: 90%;
			height: 1px;
			background: gray;
			margin: 0 auto;
			animation: 0.5s ease 0s 1 normal forwards running shrink;
		}
	}
}
