.menu-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	background: var(--tp-blue-1);
	opacity: 0.95;
	color: var(--tp-white-1);
	transition: all 0.6s ease-in-out;
	z-index: 2;
	height: 0;
	max-height: 100px;
	overflow: hidden;

	&.open {
		height: max-content;
		max-height: 1000px;
	}

	.menu-item {
		//padding-bottom: 8px;

		.menu-item-text {
			font-size: 1.2rem;
			padding: 0.7rem 0;
			margin: 0 5%;
			cursor: pointer;
			color: var(--tp-white-1);
			transition: color 0.2s ease-in-out 0s;
			animation: 0.5s ease 0s 1 normal forwards running slideIn;
		}

		.menu-item-followup {
			width: 90%;
			height: 1px;
			background: var(--tp-gray-7);
			margin: 0 auto;
			animation: 0.5s ease 0s 1 normal forwards running shrink;
		}
	}
}
