.main-page-content {
  height: max-content;
  min-height: 600px;

  .textInput {
    min-width: 0;
    border: 1px solid #ccc;
  }
}

@media only screen and (max-width: 600px) {
  .triplan-header-banner-footer {
    padding-inline-end: 0;
  }
}