.triplan-main-page-container {
  min-height: 100vh;
  height: 100%;
  background-color: white;
}

.main-feed-header {
  padding-inline: 133px;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 2.75rem;
  align-self: flex-start;
}

.triplan-header-banner-footer {
  //top: 471px;
  top: -59px;
  position: relative;
  z-index: 2;

  padding-inline: 96px;

  .tabular.menu {
    padding-inline: 196px;
  }

  .tab {
    border-color: white !important;
  }
  .ui.tabular.menu .active.item {
    border-top-left-radius: 30px !important;
    border-top-right-radius: 30px !important;
  }

  .menu {
    border-color: white !important;
    .item {
      flex: 1 1 0;
      text-align: center;
      justify-content: center;
      font-size: 20px;

      &:not(.active){
        color: white !important;
      }
    }
  }
}

.triplan-footer {
  width: 100%;
  background-color: #2d2d2d;
  height: 60px;
  line-height: 60px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

@media only screen and (max-width: 600px) {
  .menu {
    .item {
      font-size: 14px !important;
    }
  }

  .main-feed-header {
    padding-inline: 0 !important;
  }
  .tabular.menu {
    padding-inline: 0 !important;
  }

  .triplan-header-banner-footer {
    top: -40px; // -56px
    padding-inline: 10px;
  }

  // change language modal on mobile
  .triplan-main-page-container + div {
    > div {
      padding: 0 !important;
    }

    .triplan-react-modal {
      margin-bottom: 0 !important;
    }
  }

  .feed-view-filter-bar {
    flex-direction: column-reverse !important;
    gap: 16px;
    text-align: center;
    align-items: center;
  }
}