.manage-destination-items {
	display: flex;
	flex-direction: column;
	height: calc(100vh - 200px);
	overflow: auto;
	gap: 20px;
	flex: 1 1 0;
	min-width: 0;

	.manage-destination-items-map-container {
		padding-inline: 90px;
		background-color: var(--tp-white-6);
		padding-block: 20px;
	}

	.manage-destination-navigation {
		background-color: var(--tp-transparent-black-2);
		padding: 3px;
		border-radius: 20px;
		width: CALC(100% - 45px);
		margin-inline-start: 20px;
		min-height: 40px;
		justify-content: center;
		display: flex;
		align-items: center;
		//direction: ltr;
		gap: 5px;
	}

	.destinations-content {
		overflow: auto;
		height: 210px; // todo change to 100% if we do not want slider
		flex-flow: row nowrap; // todo change to wrap if we do not want slider
		width: max-content; // todo change to 100% if we do not want slider
		padding-inline: 20px;
	}

	.activities-content,
	.destinations-content {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;

		display: flex;
		flex-flow: row wrap;

		.destination-box-flag {
			img {
				max-width: 30px;
			}
		}
	}

	.activity-box-status {
		.activity-box-error {
			color: var(--tp-red-2);
		}
		.activity-box-all-good {
			color: var(--green);
		}
	}
}

.no-destinations-placeholder {
	padding-inline-start: 20px;
}

body.rtl {
	.destinations-content {
		direction: rtl;
	}
}
