.trip-template-page-content {
  width: 100vw;
  height: CALC(100vh - 80px);
  display: flex;
  flex-direction: row;
  gap: 2px;
  overflow: hidden;

  .trip-template-itinerary {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    overflow-y: auto;

    &-content-bottom-shadow {
      background: linear-gradient(180deg, transparent, #000);
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 200px;
      padding-inline: 20px;
      word-break: break-word;

      display: flex;
      flex-direction: column;
      justify-content: end;
      color: white;
      font-size: 50px;
      font-weight: bold;
      text-align: center;
      padding-bottom: 20px;
    }

    &-day-container {
      display: flex;
      flex-direction: column;
      gap: 4px;
      padding: 20px;
      border-bottom:1px solid #ccc;
    }

    &-day-title {
      font-weight: bold;
      text-align: start;
      padding-inline-start: 20px;
    }

    &-activity {
      display: flex;
      flex-direction: row;
      gap: 16px;
      padding: 20px;
      width: 100%;

      &.notes-background {
        background-color: #f6f6f6;
        border-radius: 30px;
      }

      &-image {
        width: 160px;
        height: 120px;
        border-radius: 18px;
      }

      &-content {
        flex: 1 1 0;
        gap: 4px;
        display: flex;
        flex-direction: column;
        //justify-content: center;
      }

      &-title {
        font-weight: bold;
      }

      &-category-tag {
        background-color: #e5e5e5;
        border-radius: 18px;
        padding-inline: 8px;
        width: max-content;
        color: #656e75;
        font-weight: bold;
        font-size: 12px;
      }

      &-marker-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        i {
          font-size: 40px;
        }

        span {
          //position: absolute;
          //top: 30px;
        }
      }
    }
  }

  .map-container {
    height: 100% !important;

    .visible-items-pane {
      display: none;
    }
  }

  .trip-template-page-cover {
    width: 100%;
    background-size: cover;
    background-position: center;
    min-height: 400px;
    height: 400px;
    position: relative;
  }
}

body.rtl {
  .trip-template-page-content {
    direction: rtl;

    .trip-template-itinerary {
      &-days {
        direction: rtl;
        text-align: right;
      }
    }
  }
}