.triplan-sidebar-categories {
	padding-bottom: 20px; // fix bug where history got cut off
}
.sidebar-search-container {
	margin-bottom: 15px;
	display: flex;
	flex-direction: row;
	width: 100%;

	.search-container {
		width: 100%;
		max-width: unset;
	}
}
