.destinations-content {
  display: flex;
  align-items:flex-start;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 10px;
}

.no-destinations-placeholder {
  padding-inline-start: 20px;
}

body.rtl {
  .destinations-content {
    direction: rtl;
  }
}