.a-dashboard-wrapper {
  display: flex;

  .main-layout {
    width: 100%;

    .external-events-container {
      min-width: 420px !important; // on english we must min 420. hebrew min 400.
    }

    .destinations-content {
      //max-height: CALC(100vh - 100px);
      overflow-y: auto;
    }
  }
}

.destination-box-flag {
  img {
    max-width: 30px;
  }
}