body {
	width: 100vw;
	overflow-x: hidden;
}

.App {
	font-family: GaretBook, Heebo, Arial;
	text-align: center;
}

.locale-selector {
	padding: 0;
}

#locale-selector div[class$='control'] {
	background-color: transparent !important;
	border: 0 !important;
	box-shadow: none !important;
	cursor: pointer;
}

#locale-selector div[class$='menu'] {
	direction: ltr;
	text-align: left;
}

.recommended-destinations {
	min-height: 33px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.opacity-0 {
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.opacity-0-1 {
	opacity: 0.1;
}

.opacity-0-3 {
	opacity: 0.3;
}

.opacity-0-5 {
	opacity: 0.5;
}

.opacity-0-6 {
	opacity: 0.6;
}

.opacity-0-8 {
	opacity: 0.8;
}

.opacity-1 {
	opacity: 1;
}

.opacity-1-hover-important:hover {
	opacity: 1 !important;
}

.fc-scroller::-webkit-scrollbar,
.bright-scrollbar::-webkit-scrollbar {
	width: 10px;
}

.fc-scroller::-webkit-scrollbar-track,
.bright-scrollbar::-webkit-scrollbar-track {
	width: 15px;
	background-color: #fafafa;
	border-color: #dcdcdc;
}

.fc-scroller::-webkit-scrollbar-thumb,
.bright-scrollbar::-webkit-scrollbar-thumb {
	background-color: rgba(224, 224, 224, 0.5);
	border-radius: 16px;
	width: 6px;
}

.overflow-y-scroll {
	overflow-y: scroll;
}

.overflow-hidden {
	overflow: hidden;
}
.overflow-visible {
	overflow: visible !important;
}

.visible {
	visibility: visible;
	opacity: 1;
	transition: visibility 0s 2s, height 0.5s linear;
}

.hidden {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 2s, opacity 0.5s linear;
}

.pointer {
	cursor: pointer;
}

.font-size-10 {
	font-size: 10px;
}

.font-size-12 {
	font-size: 12px;
}

.font-size-14 {
	font-size: 14px !important;
}

.font-size-20 {
	font-size: 20px;
}

.font-size-100 {
	font-size: 100px !important;
}

.flex-flow-wrap {
	display: flex;
	flex-flow: wrap;
}

.white-background {
	background-color: var(--white);
}

/* to make sure google autocomplete will appear even on modals */
.pac-container {
	z-index: 1000000 !important;
}

.strikethrough {
	position: relative;
}

.text-decoration-strike-through {
	text-decoration: line-through;
}

.strikethrough:before {
	position: absolute;
	content: '';
	left: 0;
	top: 50%;
	right: 0;
	border-top: 1px solid;
	border-color: inherit;

	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
	transform: rotate(-5deg);
}

.fc-search {
	transition: all 0.3s ease-in-out;
}

.opening-hours-component {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.opening-hours-component .opening-hours-day-row {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.opening-hours-component .opening-hours-day-row .opening-hours-day-name {
	width: 120px;
}

.opening-hours-component .opening-hours-day-row select {
	height: fit-content;
	text-align: center;
}

.opening-hours-select-container {
	display: flex;
	flex-grow: 1;
}

.opening-hours-component .opening-hours-day-row select option {
	width: 100%;
}

.opening-hours-component .is-closed {
	display: flex;
	gap: 3px;
	font-size: 13px;
}

.filter-tags-container {
	display: flex;
	gap: 20px;
}

/* padding */
.padding-0 {
	padding: 0;
}
.padding-inline-start-10 {
	padding-inline-start: 10px;
}

.padding-inline-end-10 {
	padding-inline-end: 10px !important;
}

.padding-inline-0 {
	padding-inline: 0;
}

.padding-inline-3 {
	padding-inline: 3px;
}

.padding-inline-5 {
	padding-inline: 5px;
}

.padding-inline-3-important {
	padding-inline: 3px !important;
}

.padding-inline-8 {
	padding-inline: 8px;
}

.padding-inline-10 {
	padding-inline: 10px;
}

.padding-inline-15 {
	padding-inline: 15px;
}

.padding-inline-16 {
	padding-inline: 16px;
}

.padding-inline-20 {
	padding-inline: 20px;
}

.padding-inline-100 {
	padding-inline: 100px;
}

.padding-inline-150 {
	padding-inline: 150px !important;
}

.padding-inline-50 {
	padding-inline: 50px !important;
}

.padding-block-5 {
	padding-block: 5px;
}

.padding-block-10 {
	padding-block: 10px;
}

.padding-top-0 {
	padding-top: 0 !important;
}

.padding-top-2 {
	padding-top: 2px;
}

.padding-top-5 {
	padding-top: 5px;
}

.padding-top-10 {
	padding-top: 5px;
}

.padding-top-30 {
	padding-top: 30px;
}

.padding-inline-30 {
	padding-inline: 30px;
}

.padding-20 {
	padding: 20px;
}

.padding-30 {
	padding: 30px;
}

.padding-top-50 {
	padding-top: 50px;
}

.padding-top-60 {
	padding-top: 60px;
}

.padding-top-65 {
	padding-top: 65px;
}

.padding-top-70 {
	padding-top: 70px;
}

.padding-top-80 {
	padding-top: 80px;
}

.padding-top-150 {
	padding-top: 150px;
}

.padding-bottom-4 {
	padding-bottom: 4px;
}

.padding-bottom-10 {
	padding-bottom: 10px;
}

.padding-bottom-20 {
	padding-bottom: 20px;
}

.padding-bottom-30 {
	padding-bottom: 30px;
}

.padding-bottom-40 {
	padding-bottom: 40px;
}

.padding-bottom-50 {
	padding-bottom: 50px;
}

.padding-bottom-80 {
	padding-bottom: 80px !important;
}

.padding-10 {
	padding: 10px;
}

.padding-inline-20 {
	padding-inline: 20px;
}

/* margin */
.margin-block-2 {
	margin-block: 2px;
}

.margin-block-5 {
	margin-block: 5px;
}

.margin-block-8 {
	margin-block: 8px;
}

.margin-block-10 {
	margin-block: 10px;
}

.margin-block-20-10 {
	margin-block: 20px 10px;
}

.margin-inline-0 {
	margin-inline: 0;
}

.margin-inline-end-10 {
	margin-inline-end: 10px;
}

.margin-inline-2 {
	margin-inline: 2px;
}

.margin-inline-3 {
	margin-inline: 3px;
}

.margin-inline-5 {
	margin-inline: 5px;
}

.margin-inline-10 {
	margin-inline: 10px;
}

.margin-inline-start-3 {
	margin-inline-start: 3px;
}

.margin-inline-start--5 {
	margin-inline-start: -5px;
}

.margin-inline-start-25 {
	margin-inline-start: 25px;
}

.margin-top-0 {
	margin-top: 0;
}

.margin-top-2 {
	margin-top: 2px;
}

.margin-top-3 {
	margin-top: 3px;
}

.margin-top-5 {
	margin-top: 5px;
}

.margin-top-8 {
	margin-top: 8px;
}

.margin-top-10 {
	margin-top: 10px;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-top-40 {
	margin-top: 40px;
}

.margin-top-60 {
	margin-top: 60px;
}

.margin-top-80 {
	margin-top: 80px;
}

.margin-bottom-0 {
	margin-bottom: 0;
}

.margin-bottom-2 {
	margin-bottom: 2px;
}

.margin-bottom-4 {
	margin-bottom: 4px;
}

.margin-bottom-5 {
	margin-bottom: 5px;
}

.margin-bottom-10 {
	margin-bottom: 10px;
}

.margin-bottom-15 {
	margin-bottom: 15px;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.margin-bottom-25 {
	margin-bottom: 25px;
}

.margin-bottom-30 {
	margin-bottom: 30px;
}

/* position */
.sticky-0 {
	position: sticky;
	top: 0;
}

.position-absolute {
	position: absolute;
	left: -2000px;
}

.position-relative {
	position: relative;
}

/* flexbox */
.flex-1-1-0 {
	display: flex;
	flex: 1 1 0;
}

.flex-grow-0 {
	flex-grow: 0;
}

.flex-column,
.flex-col {
	display: flex;
	flex-direction: column;
}

.flex-col-reverse,
.flex-column-reverse {
	display: flex;
	flex-direction: column-reverse;
}

.flex-row {
	display: flex; //  !important <- not good. if something needs it, need to understand why.
	flex-direction: row;
}

.flex-wrap-wrap {
	flex-wrap: wrap;
}

.fa.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-row-reverse {
	display: flex;
	flex-direction: row-reverse;
}

.rtl-direction {
	direction: rtl;
}

.flip-x {
	transform: scaleX(-1);
}

.flip-y {
	transform: scaleY(-1);
}

.flex-grow {
	flex-grow: 1;
}

.flex-shrink {
	flex-shrink: 1;
}

.flex-align-items-center {
	display: flex;
	align-items: center;
}

.align-items-center {
	align-items: center;
}

.justify-content-start {
	justify-content: start;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-space-between {
	justify-content: space-between;
}

.cursor-pointer {
	cursor: pointer;
}

.gap-2 {
	gap: 2px;
}

.gap-3 {
	gap: 3px;
}

.gap-4 {
	gap: 4px;
}

.gap-5 {
	gap: 5px;
}

.gap-8 {
	gap: 8px;
}

.gap-10 {
	gap: 10px;
}

.gap-15 {
	gap: 15px;
}

.gap-16 {
	gap: 16px;
}

.gap-20 {
	gap: 20px;
}

.gap-25 {
	gap: 25px;
}

.gap-30 {
	gap: 30px;
}

.gap-40 {
	gap: 40px;
}

.flex-gap-5 {
	display: flex;
	gap: 5px;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-wrap-reverse {
	flex-wrap: wrap-reverse;
}

.align-items-center {
	align-items: center;
}

.align-layout-direction {
	text-align: left;
	direction: ltr;
}

div[id^='react-select-'][id$='-listbox'] {
	z-index: 99999999999;
}

body.rtl {
	div[id^='react-select-'][id$='-listbox'] {
		direction: rtl;
		text-align: right;
	}
}

/* prevent -Input block from going over the value itself or the placeholder */
div[class$='-singleValue'],
div[id^='react-select-'][id$='-placeholder'] {
	z-index: 99;
}

div[class$='-control'] {
	box-shadow: unset !important;
	border-color: #d6d6d6 !important;
}

.input-with-label {
	font-size: 18px;
	font-weight: 300;
	padding-top: 20px;

	label {
		margin-bottom: 0;
	}
}

.bottom-70 {
	bottom: 70px;
}

.border-top-gray {
	border-top: 1px solid #dee2e6;
}

.border-bottom-gray {
	border-bottom: 1px solid #dee2e6;
}

.border-bottom-light-gray {
	border-bottom: 1px solid #efefef;
}

.input-with-label input.textInput,
.input-with-label textarea.textAreaInput,
.input-with-label .datePickerInput {
	border: 1px solid #d6d6d6;
	border-radius: 4px;
	padding-inline: 8px;
	color: #808080;
	font-family: GaretBook, Heebo, Arial;
	font-size: 18px;
	font-weight: 300;

	// no need of a padding if we're on readonly mode on which we do not show it as a input (no border etc)
	&:read-only {
		padding-inline: 0;
	}
}

.input-with-label .triplan-textarea-input textarea,
.input-with-label .triplan-textarea-input input,
.input-with-label .triplan-text-input textarea,
.input-with-label .triplan-text-input input {
	&:read-only {
		border: 0 !important;
	}
}

.textInput,
.textAreaInput,
.triplan-selector,
.datePickerInput {
	width: 320px;
	min-width: 320px;
	max-width: 320px;
}

.triplan-selector {
	&.disabled {
		opacity: 0.7;
	}
}

.input-with-label input.textInput {
	height: 37px; /* 47px */
}

.input-with-label label {
	min-width: 78px;
}

body.ltr {
	.input-with-label label {
		min-width: 80px; // changed from 140 to 80 otherwise on edit mode it's just horrible
	}
}

.sweet-alert .btn {
	/*margin: 0 !important;*/

	outline: none;
	/*border: 1px solid var(--gray);*/
	min-height: 38px;
	transition: background-color 0.3s ease-in-out;

	min-width: 95px;
	border-radius: 30px;

	justify-content: center;
}

.sweet-alert .btn.link-button {
	border: 0 !important;
}

.sweet-alert .btn:hover {
	/*box-shadow: none !important;*/
	/*border: 0;*/
	text-decoration: none;
}

.swal2-container {
	z-index: 99999 !important;
}

.fc-event.locked {
	filter: grayscale(50%);
	cursor: default !important;

	.fc-event-main {
		cursor: default !important;
	}

	.locked-icon {
		position: absolute;
		bottom: 0;
		inset-inline-start: 0;
		margin-inline: 0;
	}

	&.ordered {
		background-color: #f2f8fc !important;

		.fc-event-main {
			background-color: #f2f8fc !important;
		}
	}

	&:not(.ordered) {
		.locked-icon {
			display: none;
		}
	}
}

.file-upload-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 20px;
}

.file-upload-label-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
}

.file-button-label {
	background-color: #efefef !important;
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	display: flex;
	align-items: center;
}

.file-name-label {
	height: 38px;
	min-width: 200px;
	border: 1px solid var(--gray);
	border-radius: 20px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;

	line-height: 38px;
	color: var(--gray);
	font-size: 14px;
}

.main-part {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.slogan,
.start-now-button,
.main-buttons {
	min-width: 400px;
}

.choose-language input {
	/*display: none !important;*/
	width: 0 !important;
}

.red-background {
	background-color: var(--invalid-red-background) !important;

	.fc-event,
	.fc-event-main {
		background-color: var(--invalid-red-background) !important;
	}
}

.red-border {
	border-color: var(--red) !important;

	&:focus-visible {
		outline: 1px solid var(--red);
	}
}

.max-width-20 {
	max-width: 20px;
}
.max-width-250 {
	max-width: 250px;
}

.max-height-250 {
	max-height: 250px;
}

.max-height-300 {
	max-height: 300px;
}

.max-height-370 {
	max-height: 370px;
}

.max-height-400 {
	max-height: 400px;
}

.max-height-600 {
	max-height: 600px;
}

.max-width-650 {
	max-width: 650px;
}

.max-width-50-percents {
	max-width: 50%;
}

.max-width-100-percents {
	max-width: 100%;
}

.align-items-start {
	align-items: self-start;
}

.align-items-flex-end {
	align-items: flex-end;
}

.margin-bottom-5 {
	margin-bottom: 5px;
}

.min-height-0 {
	min-height: 0 !important;
}

.min-height-300 {
	min-height: 300px;
}

.min-width-0 {
	min-width: 0;
}

.min-width-38 {
	min-width: 38px;
}

.min-width-100 {
	min-width: 100px;
}

.min-width-100-important {
	min-width: 100px !important;
}

.min-width-150 {
	min-width: 100px;
}

.min-width-200 {
	min-width: 200px;
}

.min-width-300 {
	min-width: 300px;
}

.min-width-313 {
	min-width: 313px;
}

.position-sticky {
	position: sticky;
	top: 0;
	padding-block: 5px;
}

.position-sticky > div {
	/*border-bottom:1px solid rgba(204, 204, 204, 0.3);*/
	padding-bottom: 5px;
}

.background-white {
	background-color: white;
	width: 100%;
}

.space-between {
	justify-content: space-between;
}

.places-tinder-modal {
	min-width: 313px;

	&.selected-destination {
		min-width: 450px;
	}

	h2 {
		padding-inline: 20px;
	}

	p {
		z-index: 0 !important;
	}
}

a.disabled {
	opacity: 0.5;
	cursor: default;
}

.images-input {
	// make it be aligned center
	display: flex;
	flex: 1 1 0;
	align-items: center;

	.image-gallery-left-nav,
	.image-gallery-right-nav {
		display: none;
	}

	.image-gallery-thumbnails-container {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.carousel .slide img {
	max-width: 400px;
	max-height: 266.8px;
	object-fit: cover;
}

.slick-list {
	width: 300px;
	text-align: center;
}

.slick-slider {
	margin-bottom: 30px;
	width: 300px;
}

.slick-next:before,
.slick-prev:before {
	color: black;
}

.slick-dots {
	display: flex !important;
	justify-content: center;
}

.slick-slide {
	display: flex;
	align-items: center;
	justify-content: center;
}

.slick-slider {
	display: flex;
	align-items: center;
	justify-content: center;

	.slider-image {
		max-height: 150px;
		max-width: 300px;
		width: auto !important;
	}
}

.max-width-350 {
	width: 350px !important;
}

.top--1 {
	top: -1px;
}

.top-120 {
	top: 120px;
}

.text-align-center {
	text-align: center;
}

.text-align-start {
	text-align: start;
}

.text-align-left {
	text-align: left;
}

.text-align-right {
	text-align: right !important;
}

.text-align-end {
	text-align: end;
}

a.text-decoration-none {
	text-decoration: none;
}

.text-decoration-underline {
	text-decoration: underline !important;
}

input[type='text'] {
	&:focus {
		outline: none;
	}
}

.outline-none {
	outline: none;
	&:hover,
	&:focus,
	&:active {
		outline: none;
	}
}

.direction-rtl {
	direction: rtl;
}

.direction-ltr {
	direction: ltr;
}

.please-rotate-your-phone,
.device-is-not-supported {
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	position: fixed;
	display: none;
	align-items: center;
	justify-content: center;
	background-color: #2d2d2d;
	z-index: 9999999999999999999;
	color: white;
	flex-direction: column;
	gap: 10px;
	padding: 10px;
	text-align: center;

	img {
		max-width: 300px;
		max-height: 40vh;
	}
}

.height-auto {
	height: auto;
}

.height-0 {
	height: 0;
}

.height-60 {
	height: 60px;
}

.height-200 {
	height: 200px;
}

.height-300 {
	height: 300px;
}

.height-360 {
	height: 360px;
}

.height-60vh {
	height: 60vh;
}

.height-100vh {
	height: 100vh;
}

.height-100vh-important {
	height: 100vh !important;
}

.bold {
	font-weight: bold;
}

.font-weight-bold {
	font-weight: bold;
	font-family: 'Arial';
}

.line-height-15 {
	line-height: 15px;
}

.width-150 {
	width: 150px;
}

.min-width-150 {
	min-width: 150px;
}

.width-300 {
	width: 300px;
}

.width-100-percent,
.width-100-percents {
	width: 100%;
}

.height-100-percent,
.height-100-percents {
	height: 100%;
}

.width-100-percents-important {
	width: 100% !important;
}

.width-max-content {
	width: max-content;
}

.min-width-max-content {
	min-width: max-content;
}

.z-index-99999999 {
	z-index: 99999999;
}

.z-index-1000 {
	z-index: 1000;
}

.cursor-default {
	cursor: default;
}

/* display */
.display-none {
	display: none !important;
}

.resize-none {
	resize: none !important;
}

.oops-placeholder {
	width: 100px;
}

input[type='datetime-local'],
input[type='datetime-local'] {
	// content: "" !important;
}

input[type='datetime-local'][data-value='empty']:before {
	content: attr(placeholder) !important;
	color: #aaa;
	width: 200px;
	position: absolute;
}

body.rtl {
	input[type='datetime-local']:focus:before,
	input[type='datetime-local']:valid:before {
		// content: "" !important;
	}

	input[type='datetime-local'][data-value='empty']:before {
		content: attr(placeholder) !important;
		direction: rtl;
		text-align: right;
	}
}

.white-space-pre {
	white-space: pre;
}

.white-space-pre-wrap {
	white-space: pre-wrap;
}

.white-space-pre-line {
	white-space: pre-line;
}

body.rtl {
	.triplan-text-input {
		position: relative;

		i.fa {
			position: absolute;
			top: 9px;
			left: 10px;
		}
	}
}

body.ltr {
	.triplan-text-input {
		position: relative;

		i.fa {
			position: absolute;
			top: 9px;
			right: 10px;
		}
	}

	.body-text-align {
		text-align: left;
	}
}

body.rtl {
	.body-text-align {
		text-align: right;
	}
}

// remove autocomplete yellow background
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 60px #fafafa inset !important;
	background-color: #fafafa !important;
	background-clip: content-box !important;
}

// readonly
textarea:read-only,
input:read-only {
	border: 0 !important;
	background-color: white !important;
}

// do not outline date picker it looks weird
.datePickerInput {
	outline: none !important;
}

// make modals input fit to the end of the row.
.triplan-date-picker-input,
.triplan-textarea-input,
.triplan-text-input {
	display: flex;
	flex: 1 1 0;
	input,
	textarea {
		width: 100%;
		max-width: unset !important;
	}
}
.triplan-selector {
	max-width: unset;
}

// style inputs
.input-with-label {
	input,
	textarea,
	select,
	.icon-selector div[class$='-control'],
	.triplan-selector div[class$='-control'] {
		border-top: 0 !important;
		border-left: 0 !important;
		border-right: 0 !important;
		border-radius: 0 !important;
		border-bottom: 0 !important;
		//border-color: var(--blue-gray) !important;
		//color: var(--blue-gray) !important;
		color: #3a4654 !important;
		//font-size: 20px !important;
		user-select: none;
	}

	input,
	textarea,
	.icon-selector div[class$='-control'],
	.triplan-selector div[class$='-control'],
	select {
		div[id^='react-select-'][id$='-placeholder'],
		&::placeholder {
			color: #cccccc;
		}
	}

	input[type='text'] {
		&:focus,
		&:active {
			// border-bottom: 1px solid var(--gray) !important;
			//border: 1px solid var(--gray) !important;
			border: 1px solid #ccc !important;
		}
	}

	textarea {
		//background-color: #fafafa !important;

		&:focus,
		&:active {
			//border: 1px solid var(--gray) !important;
			border: 1px solid #ccc !important;
		}
	}
	.triplan-selector,
	.icon-selector {
		input[type='text'] {
			&:focus,
			&:active {
				border: 0 !important;
			}
		}
	}
}

.border-1px-solid-ccc {
	border: 1px solid #ccc;
}

.input-with-label {
	.add-task-label {
		min-width: 200px !important;
		max-width: 200px !important;
		word-break: break-word;
		justify-content: center;
	}

	.add-task-selector {
		min-width: 300px;

		div[class$='ValueContainer'] {
			text-align: start;
		}
	}

	.triplan-textarea-input,
	.triplan-text-input {
		textarea,
		input {
			border-top: 1px !important;
			border-bottom: 1px !important;
			border-left: 1px !important;
			border-right: 1px !important;
			border: 1px solid #d6d6d6 !important;
			min-width: unset !important;
		}
	}
}

.images-row {
	.triplan-textarea-input {
		width: 100%;
	}
}

.combined-container {
	.calender-container.pc {
		max-height: unset !important;
	}
}

.trip-is-locked-header {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 33px;
	//background-color: #fcf9f1;
	border-radius: 18px;
	text-align: center;
	margin-inline: 30px;
	margin-block: 8px;

	background-color: rgb(239 246 255);
	border: 1px solid rgb(29 78 216);
}

.fa-filter + span {
	display: none;
}
.min-height-20 {
	min-height: 20px;
}

.min-height-40 {
	min-height: 40px;
}

body.admin-side {
	// background-color: #d3efff !important;
	background-color: #ebebeb !important;

	.mobile-header,
	.mobile-header .mobile-navbar,
	.mobile-header .mobile-trip-name {
		//background-color: #c4e1f1 !important;
		background-color: #bfbfbf !important;
	}

	#root {
		height: CALC(100vh - 50px);

		.max-height-250 {
			max-height: 350px !important;
		}
	}
}

table {
	&.border-solid-table {
		border: 1px solid;
		display: table;

		tr {
			display: table-row;
			th,
			td {
				display: table-cell;
				border: 1px solid;
				padding-inline: 8px;
				word-break: break-all;

				&:first-child {
					min-width: 165px;
					font-weight: bold;
					text-align: left;
				}

				&:not(:first-child) {
					width: 100%;
				}
			}
		}
	}
}

.gray-color {
	color: var(--gray);
}

body.rtl {
	table {
		&.border-solid-table {
			tr {
				th,
				td {
					&:first-child {
						min-width: 140px;
						font-weight: bold;
						text-align: center;
					}
				}
			}
		}
	}
}

input[id^='react-select-'][id$='-input'] {
	border: 0 !important;
	outline: 0 !important;
	border-style: hidden !important;
	border-bottom: 1px solid #ccc !important;

	&:focus {
		border: 0 !important;
		border-bottom: 1px solid #ccc !important;
	}
}

.input-with-label {
	div[class^=' css-'][class$='-Input'] {
		input[type='text'],
		input[type='text']:focus {
			border: 0 !important;
		}
	}
}

.border-radius-10 {
	border-radius: 10px;
}

.border-radius-20 {
	border-radius: 20px;
}

.border-radius-round {
	border-radius: 50%;
}

.grayscale {
	filter: grayscale(100%);
}

.black-text-shadow {
	color: black; /* Set the text color to black */
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Create a shadow effect */
}

.max-height-100-ellipsis {
	max-height: 100px; /* Set the maximum height */
	overflow: hidden; /* Hide the overflowing text */
	position: relative;

	/* Add this for multiline ellipsis */
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5; /* Number of lines to show */
	overflow: hidden;
}

.max-height-100-ellipsis::after {
	content: ''; /* Add ellipsis */
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 0 10px; /* Adjust padding as needed */
	background: white; /* Match background to avoid overlap */
}

.text-div {
	direction: ltr;
}

body.rtl {
	.text-div {
		direction: rtl;
	}

	.plan-trip-tab-menu {
		.item {
			direction: rtl;
		}
	}
}

body:has(.loading-component) {
	// prevent header from being shown when loading appears.
	.triplan-header-banner-header-line {
		display: none !important;
	}
}

.shimmer-animation {
	animation: shimmer 3s infinite;
	background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
	background-size: 1000px 100%;
}

// fix carousel rtl bug
.carousel-wrapper {
	position: relative;
}

body.rtl {
	.carousel-wrapper {
		direction: ltr; // to fix the gallery view in hebrew

		.category-label,
		.trips-list-trip-actions-v2 {
			direction: rtl;
		}
	}
}
