body {
  width: 100vw;
  overflow-x: hidden;
}

.App {
  font-family: GaretBook, Heebo, Arial;
  text-align: center;
}

.locale-selector {
  padding: 0;
}

.recommended-destinations {
  min-height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.opacity-0 {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.fc-scroller::-webkit-scrollbar,
.bright-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.fc-scroller::-webkit-scrollbar-track,
.bright-scrollbar::-webkit-scrollbar-track {
 width: 15px;
 background-color: #fafafa;
 border-color: #dcdcdc;
}

.fc-scroller::-webkit-scrollbar-thumb,
.bright-scrollbar::-webkit-scrollbar-thumb {
 background-color: rgba(224, 224, 224, 0.5);
 border-radius: 16px;
 width: 6px;
}

.overflow-hidden {
    overflow: hidden;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s 2s, height 2s linear;
}
.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

.pointer {
    cursor: pointer;
}

.font-size-20 {
    font-size: 20px;
}

.flex-flow-wrap {
    display: flex;
    flex-flow: wrap;
}

.white-background {
    background-color: var(--white);
}

/* to make sure google autocomplete will appear even on modals */
.pac-container {
    z-index: 1000000 !important;
}

.strikethrough {
    position: relative;
}
.strikethrough:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid;
    border-color: inherit;

    -webkit-transform:rotate(-5deg);
    -moz-transform:rotate(-5deg);
    -ms-transform:rotate(-5deg);
    -o-transform:rotate(-5deg);
    transform:rotate(-5deg);
}

.fc-search {
    transition: all 0.3s ease-in-out;
}

.opening-hours-component {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.opening-hours-component .opening-hours-day-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.opening-hours-component .opening-hours-day-row .opening-hours-day-name{
    width: 120px;
}

.opening-hours-component .opening-hours-day-row select {
    height: fit-content;
    text-align: center;
}

.opening-hours-select-container {
    display: flex;
    flex-grow: 1;
}

.opening-hours-component .opening-hours-day-row select option {
    width: 100%;
}

.opening-hours-component .is-closed {
    display: flex;
    gap: 3px;
    font-size: 13px;
}

.filter-tags-container {
    display: flex;
    gap: 20px;
}

/* padding */
.padding-inline-start-10 {
    padding-inline-start: 10px;
}

.padding-inline-end-10 {
    padding-inline-end: 10px;
}

.padding-inline-0 {
    padding-inline: 0;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-bottom-30 {
    padding-bottom: 30px;
}

.padding-bottom-40 {
    padding-bottom: 40px;
}

.padding-bottom-50 {
    padding-bottom: 50px;
}

/* margin */
.margin-block-2 {
    margin-block: 2px;
}
.margin-top-40 {
    margin-top: 40px;
}

/* position */
.sticky-0 {
    position: sticky;
    top: 0;
}

.position-absolute {
    position: absolute;
    left: -2000px;
}

/* display */
.display-none {
    display: none;
}

/* flexbox */
.flex-1-1-0 {
    display: flex;
    flex: 1 1 0;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-grow {
    flex-grow: 1;
}

.flex-shrink {
    flex-shrink: 1;
}

.flex-align-items-center {
    display: flex;
    align-items:center;
}

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

.gap-15 {
    gap: 15px;
}

.gap-20 {
    gap: 20px;
}

.gap-25 {
    gap: 25px;
}

.gap-30 {
    gap: 30px;
}

.flex-gap-5 {
    display: flex;
    gap: 5px;
}

.align-items-center {
    align-items: center;
}

.align-layout-direction {
    text-align: left;
    direction: ltr;
}

/* react modal */
#react-select-2-listbox {
    z-index:99999999999;
}

.sweet-alert {
    overflow: unset !important;
    width: fit-content !important;
    max-width: 800px;
}

.react-modal {
    padding: 20px;

    min-height: 220px;
    max-height: 600px;
    overflow: auto;
}

.triplan-react-modal a.btn {
    padding: 5px !important;
}

.triplan-react-modal {
    min-width: 500px;
}

.triplan-react-modal ul {
    text-align: left;
}

.sweet-alert, .sweet-alert h2 {
    font-family: GaretBook, Heebo, Arial;
}

.sweet-alert h2 {
    position: relative;
    max-width: 100%;
    margin: 0 0 0.4em;
    padding: 0;
    color: #595959;
    font-size: 1.875em;
    font-weight: 600;
    text-align: center;
    text-transform: none;
    word-wrap: break-word;
    margin-top: 12px;
}

.input-with-label {
    font-size: 18px;
    font-weight: 300;
    padding-top: 20px;
}

.border-top-gray {
    border-top: 1px solid #dee2e6;
}

.border-bottom-gray {
    border-bottom: 1px solid #dee2e6;
}

.input-with-label input.textInput,
.input-with-label textarea.textAreaInput,
.input-with-label .datePickerInput{
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    padding-inline: 8px;
    color: #808080;
    font-family: GaretBook, Heebo, Arial;
    font-size: 18px;
    font-weight: 300;
}

.textInput,
.textAreaInput,
.triplan-selector,
.datePickerInput {
    width: 320px;
    min-width: 320px;
    max-width: 320px;
}

.input-with-label input.textInput {
    height: 37px; /* 47px */
}

.input-with-label label {
    min-width: 78px;
}

.sweet-alert .btn {
    /*margin: 0 !important;*/

    outline: none;
    /*border: 1px solid var(--gray);*/
    min-height: 38px;
    transition: background-color 0.3s ease-in-out;

    min-width: 95px;
    border-radius: 30px;

    justify-content: center;
}

.sweet-alert .btn.link-button {
    border:0 !important;
}

.sweet-alert .btn:hover {
    /*box-shadow: none !important;*/
    /*border: 0;*/
    text-decoration: none;
}

.swal2-container {
    z-index:99999;
}

.fc-event.locked {
    filter: grayscale(50%);
    opacity: 0.8;
}