body {
  width: 100vw;
  overflow-x: hidden;
}

.App {
  font-family: GaretBook, Heebo, Arial;
  text-align: center;
}

.locale-selector {
  padding: 0;
}

.recommended-destinations {
  min-height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.display-none {
  display: none;
}

.opacity-0 {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.position-absolute {
  position: absolute;
  left: -2000px;
}

.fc-scroller::-webkit-scrollbar,
.bright-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.fc-scroller::-webkit-scrollbar-track,
.bright-scrollbar::-webkit-scrollbar-track {
 width: 15px;
 background-color: #fafafa;
 border-color: #dcdcdc;
}

.fc-scroller::-webkit-scrollbar-thumb,
.bright-scrollbar::-webkit-scrollbar-thumb {
 background-color: rgba(224, 224, 224, 0.5);
 border-radius: 16px;
 width: 6px;
}

.padding-inline-start-10 {
    padding-inline-start: 10px;
}

.padding-inline-0 {
    padding-inline: 0;
}

.overflow-hidden {
    overflow: hidden;
}

.flex-1-1-0 {
    display: flex;
    flex: 1 1 0;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-grow {
    flex-grow: 1;
}
.flex-shrink {
    flex-shrink: 1;
}

.flex-align-items-center {
    display: flex;
    align-items:center;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s 2s, height 2s linear;
}
.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

.pointer {
    cursor: pointer;
}

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

.gap-15 {
    gap: 15px;
}

.font-size-20 {
    font-size: 20px;
}

.flex-flow-wrap {
    display: flex;
    flex-flow: wrap;
}

.white-background {
    background-color: var(--white);
}

/* to make sure google autocomplete will appear even on modals */
.pac-container {
    z-index: 1000000 !important;
}

.strikethrough {
    position: relative;
}
.strikethrough:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid;
    border-color: inherit;

    -webkit-transform:rotate(-5deg);
    -moz-transform:rotate(-5deg);
    -ms-transform:rotate(-5deg);
    -o-transform:rotate(-5deg);
    transform:rotate(-5deg);
}

.fc-search {
    transition: all 0.3s ease-in-out;
}

.opening-hours-component {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.opening-hours-component .opening-hours-day-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.opening-hours-component .opening-hours-day-row .opening-hours-day-name{
    width: 120px;
}

.opening-hours-component .opening-hours-day-row select {
    height: fit-content;
    text-align: center;
}

.opening-hours-select-container {
    display: flex;
    flex-grow: 1;
}

.opening-hours-component .opening-hours-day-row select option {
    width: 100%;
}

.opening-hours-component .is-closed {
    display: flex;
    gap: 3px;
    font-size: 13px;
}

.display-none {
    display: none;
}

.filter-tags-container {
    display: flex;
    gap: 20px;
}