button {
    outline: none;
    border: 1px solid var(--gray);
    background-color: white;
    border-radius: 20px;
    min-height: 38px;
    transition: background-color 0.3s ease-in-out;
}
button:not(:disabled):hover {
    border-color: #aaa;
}
button:disabled {
    opacity: 0.6;
}

.primary-button {
    background-color: var(--blue);
    color: white;
    box-shadow: 0 5px 8px 0 rgb(41 152 255 / 21%);
    /*border: 1px solid var(--dark-blue);*/
    border: 0;
}

.swal2-confirm:not(:disabled):hover,
.primary-button:not(:disabled):hover {
    background-color: var(--dark-gray);
}

.secondary-button {
    background-color: white !important;
    color: var(--blue) !important;
}
.secondary-button:not(:disabled):hover{
    border: 1px solid var(--blue) !important;
}

button.secondary-button.black {
    color: var(--black) !important;
    border:1px solid var(--gray);
}

button.secondary-button.black:hover{
    border: 1px solid var(--black) !important;
}

.dangerous-button {
    background-color: white;
    color: var(--red);
}
.dangerous-button:not(:disabled):hover {
    border: 1px solid var(--red);
}

.link-button {
    background-color: transparent;
    border:0;
    color: black;
    display: flex;

    flex-direction: row;
    gap: 5px;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.link-button:not(:disabled):hover {
    opacity: 0.6;
}

.sidebar-statistics,
.sidebar-button {
    text-align: right;
    border: 0;
    background: transparent;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.sidebar-statistics {
    padding-inline: 6px;
    gap: 8px;
    height: 38px;
}

.sidebar-button:not(:disabled):hover {
    font-weight: bold;
    padding-inline-start: 15px;
}

/*fullcalendar buttons*/
.fc-button-primary {
    background-color: white !important;
    color: var(--black) !important;
    border: 1px solid var(--gray) !important;
}
.fc-button-primary:not(:disabled):hover {
    border: 1px solid var(--dark-gray) !important;
}
.swal2-confirm {
    outline: none;
    border-radius: 20px !important;
    min-height: 38px;
    max-height: 38px;
    line-height: 16px;
    background-color: var(--blue) !important;
    color: white !important;
    box-shadow: 0 5px 8px 0 rgb(41 152 255 / 21%);
    border: 0;
}
.swal2-confirm:not(:disabled):hover {
    border: 1px solid var(--blue) !important;
}
.swal2-cancel {
    border-radius: 20px !important;
    min-height: 38px;
    max-height: 38px;
    line-height: 16px;
    /*background-color: white !important;*/
    /*color: var(--red) !important;*/
    /*border:1px solid var(--gray) !important;*/
    color: var(--dark-gray) !important;
    background-color: transparent !important;
    border:0 !important;
}
.swal2-cancel:not(:disabled):hover {
    background-image:none !important;
    background-color: white !important;
    /*border: 1px solid var(--red) !important;*/
    border:1px solid var(--gray) !important;
}

.fc-button-active {
    background-color: var(--dark-gray) !important;
    color: white !important;
    border: 1px solid var(--dark-gray) !important;
}