button {
	outline: none;
	border: 1px solid var(--gray);
	background-color: white;
	border-radius: 20px;
	min-height: 38px;
	transition: background-color 0.3s ease-in-out;

	user-select: none;
}
button:not(:disabled):hover {
	border-color: #aaa;
}
button:disabled {
	/*opacity: 0.6;*/
	opacity: 0.4;
}

.primary-button {
	background-color: var(--blue) !important;
	color: white !important;
	box-shadow: 0 5px 8px 0 rgb(41 152 255 / 21%);
	border: 0;

	&.red {
		background-color: var(--red) !important;
		box-shadow: none !important;
	}

	&.black {
		background-color: var(--black) !important;
		box-shadow: none !important;
	}

	&.disabled {
		opacity: 0.4;
	}
}

.swal2-confirm:not(:disabled):hover,
.primary-button:not(:disabled):hover {
	background-color: var(--dark-gray) !important;
}

.secondary-button {
	background-color: white !important;
	color: var(--blue) !important;

	&.brown {
		background-color: #eaeff4 !important;
		border: 1px solid white !important;
		color: #6a6868 !important;

		&:disabled {
			color: #9f9f9f !important;
			opacity: 0.8 !important;
		}

		&:not(:disabled):hover {
			border: 1px solid #9f9f9f !important;
		}
	}
}

button.secondary-button:not(:disabled):hover {
	border: 1px solid var(--blue);
}

button.secondary-button.black:not(:disabled):hover {
	border: 1px solid var(--gray);
}

button.secondary-button {
	&.black {
		color: var(--black) !important;
		border: 1px solid var(--gray);

		&:not(:disabled):hover {
			/*border: 1px solid var(--black) !important;*/
			//border-color: #aaa !important;
			//border: 1px solid var(--white) !important;
			background-color: #f3f3f3 !important; // #eaeff4
		}
	}
}

.dangerous-button {
	background-color: white;
	color: var(--red);
}
.dangerous-button:not(:disabled):hover {
	border: 1px solid var(--red);
}

.link-button,
.movable-link-button {
	background-color: transparent;
	border: 0;
	color: black;
	display: flex;

	flex-direction: row;
	gap: 5px;
	align-items: center;
	transition: all 0.3s ease-in-out;

	text-align: start;

	&.red-color {
		color: var(--red);
	}
	&.blue-color {
		color: var(--blue);
	}

	&:focus {
		outline: none;
	}
}

.link-button:not(:disabled):hover {
	opacity: 0.6;
}

.movable-link-button:not(:disabled):hover {
	padding-inline-start: 15px;
}

/*fullcalendar buttons*/
.fc-button-primary {
	background-color: white !important;
	color: var(--black) !important;
	border: 1px solid var(--gray) !important;
}
.fc-button-primary:not(:disabled):hover {
	border: 1px solid var(--dark-gray) !important;
}
.swal2-confirm {
	outline: none;
	border-radius: 20px !important;
	min-height: 38px;
	max-height: 38px;
	line-height: 16px;
	background-color: var(--blue) !important;
	color: white !important;
	box-shadow: 0 5px 8px 0 rgb(41 152 255 / 21%);
	border: 0;
}
.swal2-confirm:not(:disabled):hover {
	border: 1px solid var(--blue) !important;
}
.swal2-cancel {
	border-radius: 20px !important;
	min-height: 38px;
	max-height: 38px;
	line-height: 16px;
	/*background-color: white !important;*/
	/*color: var(--red) !important;*/
	/*border:1px solid var(--gray) !important;*/
	color: var(--dark-gray) !important;
	background-color: transparent !important;
	border: 0 !important;
}
.swal2-cancel:not(:disabled):hover {
	background-image: none !important;
	background-color: white !important;
	/*border: 1px solid var(--red) !important;*/
	border: 1px solid var(--gray) !important;
}

.fc-button-active {
	background-color: var(--dark-gray) !important;
	color: white !important;
	border: 1px solid var(--dark-gray) !important;
}


.buttons-group {
	button {
		border-radius: 0 !important;

		&:first-child {
			border-top-left-radius: 20px !important;
			border-bottom-left-radius: 20px !important;
			border-right: 0 !important;
		}

		&:last-child {
			border-top-right-radius: 20px !important;
			border-bottom-right-radius: 20px !important;
		}
	}
}

body.rtl {
	.buttons-group {
		button {
			border-radius: 0 !important;

			&:last-child {
				border-top-left-radius: 20px !important;
				border-bottom-left-radius: 20px !important;
				border-right: 0 !important;
			}

			&:first-child {
				border-top-right-radius: 20px !important;
				border-bottom-right-radius: 20px !important;
				border-right: 1px solid #ccc !important;
			}
		}
	}
}