button {
	outline: none;
	border: 1px solid var(--tp-gray-5);
	background-color: var(--tp-white-1);
	border-radius: 20px;
	min-height: 38px;
	transition: background-color 0.3s ease-in-out;

	user-select: none;

	// prevent double click on button from being interrupted as zoom in on mobile
	touch-action: manipulation;

	// for icons
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}
button:not(:disabled):hover {
	border-color: var(--tp-gray-6);
}
button:disabled {
	/*opacity: 0.6;*/
	&:not(.no-disabled-style) {
		opacity: 0.4;
	}
}

.primary-success-button,
.primary-button {
	background-color: var(--tp-blue-4) !important;
	color: var(--tp-white-1) !important;
	box-shadow: 0 5px 8px 0 var(--tp-transparent-blue-2);
	border: 0;
	cursor: pointer;

	&.red {
		background-color: var(--tp-red-2) !important;
		box-shadow: none !important;
	}

	&.orange {
		background-color: var(--tp-orange-2) !important;
		box-shadow: none !important;
	}

	&.black {
		background-color: var(--tp-black) !important;
		box-shadow: none !important;
	}

	&.disabled {
		opacity: 0.4;
	}
}

.primary-success-button {
	background-color: var(--tp-red-3) !important;
}

.swal2-confirm:not(:disabled):hover,
.primary-success-button:not(:disabled):hover,
.primary-button:not(:disabled):hover {
	background-color: var(--tp-gray-13) !important;
}

.secondary-button {
	background-color: var(--tp-white-1) !important;
	color: var(--tp-blue-4) !important;
	cursor: pointer;

	&.brown {
		background-color: var(--tp-white-3) !important;
		border: 1px solid var(--tp-white-1) !important;
		color: var(--tp-gray-10) !important;

		&:disabled {
			color: var(--tp-gray-7) !important;
			opacity: 0.8 !important;
		}

		&:not(:disabled):hover {
			border: 1px solid var(--tp-gray-7) !important;
		}
	}
}

button.secondary-button:not(:disabled):hover {
	border: 1px solid var(--tp-blue-4);
}

button.secondary-button.black:not(:disabled):hover {
	border: 1px solid var(--tp-gray-5);
}

button.secondary-button {
	&.black {
		color: var(--tp-black) !important;
		border: 1px solid var(--tp-gray-5);
		transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out, color 0.3s ease-in-out;

		&:not(:disabled):hover {
			/*border: 1px solid var(--tp-black) !important;*/
			//border-color: #aaa !important;
			//border: 1px solid var(--tp-white-1) !important;
			//background-color: #f3f3f3 !important; // #eaeff4
			color: gray !important;
		}
	}

	&.orange {
		color: var(--tp-orange-2) !important;
		border: 1 px solid var(--tp-gray-5);

		&:not(:disabled):hover {
			background-color: #f3f3f3 !important;
			border: 1px solid var(--tp-orange-2) !important;
		}
	}
}

.dangerous-button {
	background-color: white;
	color: var(--tp-red);
}
.dangerous-button:not(:disabled):hover {
	border: 1px solid var(--tp-red);
}

.link-button,
.movable-link-button {
	background-color: transparent;
	border: 0;
	color: black;
	display: flex;

	cursor: pointer;

	flex-direction: row;
	gap: 5px;
	align-items: center;
	transition: all 0.3s ease-in-out;

	text-align: start;

	&.red-color {
		color: var(--tp-red);
	}
	&.blue-color {
		color: var(--tp-blue-4);
	}

	&.orange-color {
		color: var(--tp-orange-2); // var(--tp-orange);
	}

	&:focus {
		outline: none;
	}
}

.link-button:not(:disabled):hover {
	opacity: 0.6;
}

.movable-link-button:not(:disabled):hover {
	padding-inline-start: 15px;
}

/*fullcalendar buttons*/
.fc-button-primary {
	background-color: white !important;
	color: var(--tp-black) !important;
	border: 1px solid var(--tp-gray-5) !important;
}
.fc-button-primary:not(:disabled):hover {
	border: 1px solid var(--tp-gray-13) !important;
}
.swal2-confirm {
	outline: none;
	border-radius: 20px !important;
	min-height: 38px;
	max-height: 38px;
	line-height: 16px;
	background-color: var(--tp-blue-4) !important;
	color: var(--tp-white-1) !important;
	box-shadow: 0 5px 8px 0 var(--tp-transparent-blue-2);
	border: 0;
}
.swal2-confirm:not(:disabled):hover {
	border: 1px solid var(--tp-blue-4) !important;
}
.swal2-cancel {
	border-radius: 20px !important;
	min-height: 38px;
	max-height: 38px;
	line-height: 16px;
	/*background-color: white !important;*/
	/*color: var(--tp-red) !important;*/
	/*border:1px solid var(--tp-gray-5) !important;*/
	color: var(--tp-gray-13) !important;
	background-color: transparent !important;
	border: 0 !important;
}
.swal2-cancel:not(:disabled):hover {
	background-image: none !important;
	background-color: var(--tp-white-1) !important;
	/*border: 1px solid var(--tp-red) !important;*/
	border: 1px solid var(--tp-gray-5) !important;
}

.fc-button-active {
	background-color: var(--tp-gray-13) !important;
	color: var(--tp-white-1) !important;
	border: 1px solid var(--tp-gray-13) !important;
}

.buttons-group {
	button {
		border-radius: 0 !important;

		&:first-child {
			border-top-left-radius: 20px !important;
			border-bottom-left-radius: 20px !important;
			border-right: 0 !important;
		}

		&:last-child {
			border-top-right-radius: 20px !important;
			border-bottom-right-radius: 20px !important;
		}
	}
}

body.rtl {
	.buttons-group {
		button {
			border-radius: 0 !important;

			&:last-child {
				border-top-left-radius: 20px !important;
				border-bottom-left-radius: 20px !important;
				border-right: 0 !important;
			}

			&:first-child {
				border-top-right-radius: 20px !important;
				border-bottom-right-radius: 20px !important;
				border-right: 1px solid #ccc !important;
			}
		}
	}
}
