:root {
	--white: #ffffff;
	--white-blue: #e5e9ef;
	--white-blue-darker: #e4e7eb;
	--gray: #ccc;
	--dark-gray: #343a40;
	--black: #2c2c2c;
	/*--light-blue: #42adde;*/
	--blue: #37b5ff;
	--blue-gray: #748597;
	--brown-gray: #6a6868;
	--light-blue: #d5eaff;
	--black-bg: rgba(0, 0, 0, 0.03);
	--dark-blue: #0066d5;
	--darkest-blue: #052c8f;
	--red: #ff5252;
	--triplan-orange: #ffb752;
}

.black-color {
	color: var(--black);
}

.blue-gray-color {
	color: var(--blue-gray);
}

.pink-color {
	color: var(--pink);
}

.black-background {
	background: var(--black) !important;
}

.dark-color {
	color: var(--dark);
}

.blue-color {
	color: var(--blue);
}

.red-color {
	color: var(--red);
}

.orange-color {
	color: var(--orange);
}

.gold-color {
	color: gold;
}

.darkest-blue-color {
	color: var(--darkest-blue);
}

.selected-color {
	color: #0079ff;
}
