@media only screen and (min-width: 600px) and (max-width: 768px) {
	/* For tablets: */
}

@media only screen and (max-width: 600px) {
	/* For mobiles: */

	.main-page {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		> .padding-inline-8 {
			width: 100%;
		}

		.main-layout-container {
			padding-inline: 0;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;

			.main-layout {
				width: CALC(100% - 20px);
			}
		}
	}

	body {
		&.ltr,
		&.rtl {
			.triplan-header {
				flex-direction: column;
				gap: 0;
				align-items: center;

				.language-selector {
					order: 1;
				}
				.triplan-header-starter {
					order: 2;
				}
				.triplan-header-actionbar {
					order: 3;
				}

				.language-selector {
					flex-shrink: 0;
					justify-content: center;
				}

				.filter-tags-container {
					margin-top: 8px;
				}
			}

			.main-page {
				.mobile-divider {
					display: flex;
					border-block: 1px solid rgba(45, 45, 45, 0.1);
					padding-block: 5px;
					color: rgba(45, 45, 45, 0.5);
					text-align: center;
					justify-content: center;
				}

				.fc-header-toolbar {
					font-size: 12px;
					flex-direction: column;

					.fc-icon-chevron-right,
					.fc-icon-chevron-left {
						font-size: 12px;
					}
				}

				.calendar-container {
					min-height: 1200px;
				}

				/* hide language selector - todo improve */
				.start-side {
					//display: none; // header looks better without it
				}

				.main-layout-container {
					.main-layout {
						flex-direction: column;
						gap: 40px;
						height: max-content;
					}
				}

				.external-events-container {
					width: 100%;
					max-width: unset;
					padding-inline: 0;

					.custom-dates-line {
						input[type='date'] {
							display: flex;
							flex: 1 1 0;
							min-width: 0;
						}
					}
				}

				.category-actions {
					font-size: 12px;
					flex-wrap: wrap;
					gap: 2px;

					//.link-button {
					//	flex-grow: 1;
					//	flex-shrink: 0;
					//}
				}
			}

			.main-page .triplan-header .triplan-header-actionbar {
				flex-direction: column;
				align-items: center;
				gap: 8px;
				width: 100%;

				.search-container {
					padding-inline: 0px;
					margin-top: 8px;
					width: 100%;
				}
			}

			.main-part {
				display: flex;
				flex: 1 1 0;
				//overflow: hidden;
				width: 100%;
				min-width: unset;
				height: 100vh;
				min-height: max-content;

				.logo-container {
					min-width: 300px !important;
				}
			}
			.landing-page-layout .main-part .slogan {
				padding-block: 20px;
				min-width: 40px !important;
			}
			.main-buttons,
			.start-now-button {
				flex-direction: column;
				padding-inline: 40px;
				min-width: 40px !important;
			}
			.footer {
				flex-direction: column;
				align-items: center;
				justify-content: center;
				padding-inline: 0;
				a {
					align-items: flex-start;
				}
			}

			/* my trips */
			.create-new-trip-form {
				width: 100%;
			}
		}

		&.rtl {
		}
	}

	.landing-page-layout {
		padding-inline: 0 !important;

		.main-part {
			justify-content: center;
			flex-grow: 1;

			.slogan {
				word-break: break-word;
				padding-inline: 20px;
			}
		}

		.footer {
			display: none !important;
		}
	}

	.login-page,
	.register-page {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-inline: 0 !important;
	}
}
@media only screen and (max-height: 600px) and (orientation: landscape) {
	/* For mobiles on landspace: */
	// todo complete
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
