@media only screen and (min-width: 600px) and (max-width: 768px) {
	/* For tablets: */
}

@media only screen and (max-width: 600px) {
	/* For mobiles: */

	body {
		&.ltr,
		&.rtl {
			.header {
				flex-direction: column-reverse;
				align-items: center;
			}

			.header,
			.start-side,
			.end-side {
				display: flex;
				flex-flow: row wrap;

				justify-content: center;
				padding-inline: 0;
			}

			.main-page {
				.mobile-divider {
					display: flex;
					border-block: 1px solid rgba(45, 45, 45, 0.1);
					padding-block: 5px;
					color: rgba(45, 45, 45, 0.5);
					text-align: center;
					justify-content: center;
				}

				.fc-header-toolbar {
					font-size: 12px;
					flex-direction: column;

					.fc-icon-chevron-right,
					.fc-icon-chevron-left {
						font-size: 12px;
					}
				}

				.calendar-container {
					min-height: 1200px;
				}

				/* hide language selector - todo improve */
				.start-side {
					//display: none; // header looks better without it
				}

				.main-layout-container {
					.main-layout {
						flex-direction: column;
						gap: 40px;
						height: max-content;
					}
				}

				.external-events-container {
					width: 100%;
					max-width: unset;

					.custom-dates-line {
						input[type='date'] {
							display: flex;
							flex: 1 1 0;
							min-width: 0;
						}
					}
				}

				.category-actions {
					font-size: 12px;
					flex-wrap: wrap;
					gap: 2px;

					//.link-button {
					//	flex-grow: 1;
					//	flex-shrink: 0;
					//}
				}
			}

			.search-container {
				padding-inline: 15px;
			}

			.main-part {
				display: flex;
				flex: 1 1 0;
				overflow: hidden;
				width: 100%;
				min-width: unset;

				.logo-container {
					min-width: 300px !important;
				}
			}
			.landing-page-layout .main-part .slogan {
				padding-block: 20px;
			}
			.main-buttons,
			.start-now-button {
				flex-direction: column;
				padding-inline: 40px;
			}
			.footer {
				flex-direction: column;
				align-items: center;
				justify-content: center;
				padding-inline: 0;
				a {
					align-items: flex-start;
				}
			}

			/* my trips */
			.create-new-trip-form {
				width: 100%;
			}
		}
		&.ltr {
			.main-page .header .end-side {
				flex-direction: column-reverse;
			}
		}
		&.rtl {
			.main-page .header .end-side {
				flex-direction: column-reverse;
			}
		}
	}

	.login-page {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
@media only screen and (max-height: 600px) and (orientation: landscape) {
	/* For mobiles on landspace: */
	// todo complete
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
