/* react modal */
.sweet-alert {
  overflow: unset !important;
  width: fit-content !important;
  max-width: 800px;
}

.react-modal {
  padding: 20px;

  min-height: 220px;
  max-height: 600px;
  overflow: auto;
}

.triplan-react-modal a.btn {
  padding: 5px !important;
  padding-inline: 15px !important;
}

.triplan-react-modal>p {
  flex-direction: column;
}

.triplan-react-modal button.primary-button,
.triplan-react-modal button.secondary-button {
  /* for delete button when editing calendar event */
  min-height: 40px;
  padding: 5px;
  min-width: 120px;
  padding-inline: 20px;
}

.triplan-react-modal {
  min-width: 500px;
  max-width: 570px !important;

  p {
    z-index: 0 !important;
  }
}

.triplan-react-modal ul {
  text-align: left;
}

.sweet-alert,
.sweet-alert h2 {
  font-family: GaretBook, Heebo, Arial;
}

.sweet-alert h2 {
  position: relative;
  max-width: 100%;
  margin: 0 0 0.4em;
  padding: 0;
  color: #595959;
  font-size: 1.875em;
  font-weight: 600;
  text-align: center;
  text-transform: none;
  word-wrap: break-word;
  margin-top: 12px;
}

.add-calendar-event-modal-choose-where{
  display: flex;
  flex-direction: column;
  //flex-direction: row;
  justify-content: center;
  gap:10px;
  width: 100% !important;

  align-items: center;

  button {
    width: max-content;
  }
}

.triplan-add-calendar-event-from-existing {
  > div {
    z-index: 2 !important;
    overflow:visible !important; /* for the select of the activity */

    .react-modal {
      min-height: unset;
      overflow: visible;
    }
  }
}

.show-hide-more {
  color: var(--blue) !important;
  text-decoration: underline !important;
  user-select: none;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
}

.modal-minimized {
  .location-row{
    order: 1;
  }
  .name-row {
    order: 2;
  }
  .category-row {
    order: 3;
  }
  .description-row {
    order: 4;
  }
  .start-time-row {
    order: 5;
  }
  .end-time-row {
    order: 6;
  }
  .priority-row {
    order: 7;
  }
  .actions-row {
    order: 8;
  }
  .show-hide-more-row {
    order: 9;
  }

  &.view-mode {
    .images-row {
      order: 1;
    }
    .name-row {
      order: 2;
    }
    .location-row{
      order: 3;
    }
    .category-row {
      order: 4;
    }
    .description-row {
      order: 5;
    }
    .start-time-row {
      order: 6;
    }
    .end-time-row {
      order: 7;
    }
    .opening-hours-row {
      order: 8;
    }
    .actions-row {
      order: 9;
    }
    .show-hide-more-row {
      order: 10;
    }
  }
}