.register-page {
	background-color: var(--tp-blue-1) !important;

	> div {
		margin-top: -30px !important;
	}

	.sub.cards.header.content {
		.ui.segment {
			background-color: var(--tp-transparent-white-4);
			border-color: var(--tp-white-2);
		}

		.field {
			display: flex;
		}

		.ui.left.input.icon {
			margin-right: 0 !important;
		}

		.button {
			margin-right: 0 !important;
		}
	}

	.ui.icon.input > input {
		height: 40px;
		width: 100%;
	}

	.login-link-container {
		line-height: 1.2em;
		text-align: center;
		opacity: 0.5;
	}
}
