.triplan-sidebar-main-buttons {
	align-items: center;
	background-color: var(--tp-white-7);
	z-index: 1;
	min-height: 50px;

	.add-activity-button {
		background-color: var(--tp-white-7);
		display: flex;
		flex: 1 1 0;
		max-height: 40px;
	}

	.add-category-button {
		background-color: var(--tp-white-7);
		display: flex;
		flex: 1 1 0;
		max-height: 40px;
	}
}
