.main-page {
	width: 100vw;
	height: 100%;
	/*background-image: url('/images/background-new.png');*/
	background-size: contain;
	background-repeat: no-repeat;
	/*background-position: center;*/
	background-position-y: 207px;
	/*background-color: var(--white);*/
}

.main-page .header-container {
	background-color: #eaeff5;
	position: sticky;
	top: 0;
	z-index: 999;
}

.main-page .main-layout-container {
	padding: 0 30px 30px;
}

.main-page .main-layout-container .main-layout {
	height: calc(100vh - 180px);
	display: flex;
	gap: 10px;
}

.main-page .calendar-container,
.main-page .list-container {
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
	position: relative;
}

.list-container {
	.list-view-mode-selector {
		position: absolute;
		right: unset;
		left: 10px;
		z-index: 5000;

		display: flex;
		gap: 10px;

		// making sure it has a white background so when scrolling we won't see scrolled info (background will cover it)
		width: CALC(100% - 25px);
		direction: ltr;
		background-color: white;
		padding-block: 10px 20px;

		.list-view-checkbox-options {
			display: flex;
			padding: 5px;
			gap: 5px;
		}
	}
}

body.rtl {
	.list-container {
		.list-view-mode-selector {
			direction: rtl;

			.list-view-checkbox-options {
				direction: rtl;
			}
		}
	}
}

.info-box-summary-container {
	display: flex;
	flex-direction: column;
	max-height: 600px;
	flex-wrap: wrap;
	gap: 10px;
	align-content: baseline;
}

.list-container {
	.list-view-mode-selector {
		.multiple-options-toggle-button.white {
			height: 38px !important;
		}
	}
}

.header .end-side {
	display: flex;
	flex-direction: row-reverse;
	gap: 20px;
	/*width: 55%;*/
	padding-inline: 15px;
	padding-inline-start: 0;
}

.fc-view-harness {
	background-color: white;
}

.main-layout {
	background-color: rgba(255, 255, 255, 0.4);
	padding: 30px 10px;
	margin: 0 !important;
	border-radius: 30px;
}

.fc-title {
	font-size: 15px;
	//white-space: nowrap;
	//overflow: hidden;
	//text-overflow: ellipsis;
}

.fc-category {
	display: flex;
	text-align: center;
}

.fc-category span {
	flex: 1;
	cursor: pointer;
}

.fc-category a {
	cursor: pointer;
}

.search-container {
	display: flex;
	flex: 1 1 0;
}

.search-container input[type='text'] {
	padding-inline: 10px;
	border: 1px solid #dde3eb;
	border-radius: 20px;
	height: 40px;
	min-width: 300px;
}

.table-responsive {
	text-align: left;
}

.table-responsive input {
	width: 100%;
}

.fc-event,
.fc-event-main {
	color: #3399cc !important;
	background-color: var(--white) !important;
	padding: 5px !important;
	/*padding-inline-end:10px !important;*/
	text-align: left;
	direction: ltr;
}

.fc-event-main {
	overflow: hidden;
	padding: 0 !important;
	font-size: 10px;
}

.fc-event span,
.fc-event-main {
	cursor: pointer;
}

.fc-event-content,
.fc-event-main-frame {
	display: flex;
	flex-direction: column;
}

.fc-event-suggested-time,
.fc-event-time {
	/*order: 2;*/
	/*background-color: var(--white) !important;*/
	/*border-radius: 15px;*/
	/*z-index:3;*/

	flex: 1 1 0;
	color: #afafaf;
}

.fc-event-title {
	/*order: 1;*/
	/*flex: 1;*/
	/*min-height: 0;*/
	/*max-height: 100%;;*/
	/*height: fit-content;*/
	/*font-weight: bold;*/
}

.app-calendar {
	position: -webkit-sticky;
	position: sticky;
	top: 20px;
}

.app-calendar .fc-timegrid-event .fc-event-main,
.triplan-calendar-event {
	overflow: hidden;
}

.swal2-popup {
	min-width: fit-content !important;
}

select,
input[type='text'],
input[type='password'],
input[type='number'] {
	width: 100%;
	padding: 5px;
	height: 33px;
	font-size: 16px;
	font-family: inherit;
	outline: none;
}

textarea {
	width: 100%;
	padding: 5px;
	/*height: 70px;*/
	font-size: 14px;
	font-family: system-ui;
	outline: none;
	min-height: 33px;
}

/*#new-icon {*/
/*    width: 200px !important;*/
/*}*/

button:focus {
	outline: none !important;
	box-shadow: none !important;
}

#top-bar {
	border-bottom: 1px solid #ddd;
	padding: 0 10px;
	line-height: 32px;
	font-size: 12px;

	width: 100%;
	display: flex;

	align-items: center;
	gap: 4px;

	justify-content: space-between;

	padding-inline: 0;

	height: 38px;

	background-color: var(--white);
}

.logo {
	background-color: var(--white);
	/*border-top-left-radius: -5px;*/
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 30px;
	padding-inline-start: 40px;
	padding-inline-end: 20px;
	height: 38px;
}

.logo img {
	top: -6px;
	position: relative;
	height: 44px;
	cursor: pointer;
}

.logo img:hover {
	opacity: 0.6;
}

.top-bar-start-side,
.top-bar-end-side {
	width: CALC(50% - 22px);
	background: #eee;
}

.top-bar-start-side {
	height: 100%;
	border-top-right-radius: 30px;
}

.top-bar-end-side {
	text-align: right;
	border-bottom-left-radius: 30px;
	padding-inline: 40px;
}

#top-bar select#locale-selector {
	/*height: 19px;*/
	width: 59px;
	line-height: normal;
	align-items: center;
	gap: 5px;
	padding: 0;
	font-size: 11px;

	height: 28px;
	border-color: #eaeaea;
	color: cornflowerblue;
}

.import-events-steps {
	text-align: left;
}

.swal2-content ul {
	text-align: left;
	padding-block-start: 5px;
}

td.fc-timegrid-slot-lane {
	height: 50px !important;
}

.trip-summary {
	width: 100%;
	/*padding-block: 20px;*/
	/*padding-inline: 26%;*/
	max-height: 100vh;
	overflow-y: auto;
	direction: ltr;
	text-align: left;

	/*background-color: #ccc;*/
	font-size: 12px;
	/*max-height: 400px;*/
	/*height: 100px;*/
	/*resize: vertical;*/
	/*overflow-y:scroll;*/

	background-color: rgba(255, 255, 255, 0.8);
	padding: 20px;
}

/*.import-buttons button {*/
/*    background-color: #d4dfec; !* #efefef; *!*/
/*    color: #212529; !*#2C3E50;*!*/
/*    border: 1px solid #dde3eb;*/
/*}*/

.fc-button-group button:first-child {
	border-top-left-radius: 15px !important;
	border-bottom-left-radius: 15px !important;
}

.fc-button-group button:last-child {
	border-top-right-radius: 15px !important;
	border-bottom-right-radius: 15px !important;
}

.fc-today-button {
	border-radius: 15px !important;
	min-width: 70px;
}

thead th {
	height: 100%;
	vertical-align: middle !important;
	font-family: GaretBook, Heebo;
	border: 0;
	border-bottom: 1px solid #ddd;
	font-weight: normal !important;
}

tbody tr:first-child .fc-timegrid-axis-frame {
	justify-content: center !important;
}

table,
table tr,
table tr td,
table th {
	border-color: #dde3eb !important;
}

.fc-media-screen {
	flex: 1 1 0;
}

.icon-selector,
.triplan-selector {
	display: flex;
	flex: 1 1 0;
}

.triplan-selector > div {
	width: 100%;
}

.mobile-divider {
	display: none;
}

body.rtl {
	.mobile-footer-navigator {
		flex-direction: row-reverse;
	}
}

// -----------------------------------------------------------
// mobile footer navigator //
// -----------------------------------------------------------
.mobile-footer-navigator {
	min-height: 60px;
	height: max-content;
	position: fixed;
	bottom: 0;
	z-index: 9999;
	background-color: #eeeeee;
	border-top: 1px solid #dadada;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;

	a {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 25%;

		i {
			transition: all 0.3s ease-in-out;

			&.black-color {
				color: #2d2d2d;
			}

			font-size: 18px;
		}

		span {
			transition: all 0.3s ease-in-out;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 100%;
			font-size: 12px;
		}
	}
}

// -----------------------------------------------------------
.mobile-trip-name {
	display: flex;
	min-height: 60px;
	position: sticky;
	top: 0;
	//z-index: 9999;
	background-color: #eaeff5;
	max-width: CALC(100% - 150px);
	justify-content: center;
	align-items: center;
	padding-inline: 20px;
	text-align: center;
	transition: all 1s ease-in-out;

	font-family: 'Arial' !important;
	font-size: 20px;
	font-weight: bold;

	&.no-z-index {
		z-index: unset;
	}
}

body.rtl {
	.mobile-trip-name {
		direction: rtl;
	}
}

a.navigate-to {
	margin-inline: 4px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;

	img {
		width: 14px;
		height: 14px;
	}

	&:hover {
		opacity: 0.8;
	}
}

.mobile-footer-navigator-option {
	height : 60px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	min-width: 60px;
}

.selected-mobile-option {
	border-top: 3px solid #0079ff;
}

/* suggestions sidebar */
.suggestions-sidebar {
	width: max-content;
	max-height: 100vh;
	overflow-y: auto;

	.point-of-interest {
		//transition: min-height 0.3s ease, padding 0.3s ease, margin 0.3s ease, opacity 0.3s ease;
		transition: all 0.3s ease; /* Smooth transition for other properties */

		cursor: pointer;
		opacity: 0.8;

		/* This rule will apply the animation effect after the hover delay */
		.description,
		.poi-details .duration,
		.price,
		.poi-footer-links,
		.poi-footer,
		.poi-details+div,
		.poi-right {
			transition: all 0.3s ease;
		}

		&:hover {
			opacity: 1;
		}

		.poi-footer {
			flex-direction: column;
			padding-bottom: 15px;
		}
	}

	// .point-of-interest:not(:hover) {
	.point-of-interest {
		min-height: 0 !important;
		padding-bottom: 20px !important;
		.description, .poi-details .duration, .price, .poi-footer-links, .poi-footer, .poi-details+div {
			height: 0 !important;
			opacity: 0;
			min-height: 0 !important;
			margin: 0;
			padding: 0;
		}
		.poi-footer-links {
			display: none !important;
		}
		.poi-right {
			min-height: 0 !important;
		}
	}
}