.destination-slider {
	display: flex;
	flex-direction: column;
	gap: 10px;

	overflow: auto;
	height: 210px;
	width: 100%;
	position: relative;
	min-height: 230px;

	transition: all 0.2s ease;

	-webkit-overflow-scrolling: touch;

	/* Hide scrollbar for Chrome, Safari and Opera */
	&::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

i.slider-navigator {
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	opacity: 0.6;

	&:not(.no-animation):hover {
		transform: scale(1.25);
		opacity: 1;
	}
}
