.triplan-header-banner {
  height: 600px;
  padding-inline: 196px + 96px;
  padding-top: 10px;

  // temporary:
  //background-image: url("https://images.contentstack.io/v3/assets/blt06f605a34f1194ff/blt592c0e4e8a0b1271/641347cc0c29c7363bf394b2/Vatican_Desktop.jpg?auto=webp&quality=60");
  //background-image: url("https://img.freepik.com/free-photo/copy-space-straw-hat-map_23-2148232404.jpg?t=st=1720070067~exp=1720073667~hmac=694b871b6c522eb2f1a366a306e8ae4c89eb2ddec416f46c325f34ac8676101b&w=2000");
  //background-size: cover;
  //background-position-x: center;
  //background-position-y: center;
  //background-repeat: no-repeat;
  background-image: url("https://img.freepik.com/free-vector/travel-pattern-with-elements-dash-lines_23-2148057144.jpg?t=st=1720070910~exp=1720074510~hmac=c09ac3569de3060380954ef0594d134184876b5683a8bdbe331aa980d0bf3c12&w=1380");
  //background-position-x: center;
  //background-position-y: center;
  //background-repeat: no-repeat;
  //background-color: #8bdaee;
  position: relative;

  &-shadow {
    background: linear-gradient(268deg,rgba(12,24,47,0) 34.23%,rgba(12,24,47,.6) 97.86%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
  }

  &-bottom-shadow {
    background: linear-gradient(180deg, transparent, #000);
    height: 100px;
    position: absolute;
    top: 500px;
    left: 0;
    width: 100%;
    z-index: 1;
    opacity: 0.5;
  }

  .triplan-header-banner-header-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;

    &-top-shadow {
      top: 0;
      left: 0;
      width: 100%;
      height: 80px;
      background: linear-gradient(180deg, #000, transparent);
      position: absolute;
      opacity: 0.5;
    }

    &-left-side, &-right-side {
      display: flex;
      align-items: center;
      z-index: 1;
    }

    &-right-side {
      gap: 16px;

      button {
        color: white;
        display: flex;
        flex-direction: column;
      }
    }

    // todo complete: add background-top shadow like on getyourguide
  }

  .triplan-header-banner-footer {
    top: 471px;
    position: relative;
    z-index: 2;

    .tab {
      border-color: white !important;
    }

    .menu {
      border-color: white !important;
      .item {
        flex: 1 1 0;
        text-align: center;
        justify-content: center;
        font-size: 20px;

        &.active {
          border-top-left-radius: 30px !important;
          border-top-right-radius: 30px !important;
        }

        &:not(.active){
          color: white !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .triplan-header-banner {
    padding-inline: 20px;

    .triplan-header-banner-header-line {
      padding-top: 20px;
      flex-direction: column-reverse;
      align-items: center;
    }

    .triplan-header-banner-footer {
      top: 371px;
    }
  }
}