.language-selector {
	display: flex;
	gap: 8px;
	height: fit-content;
	align-items: center;
	width: 100%;

	max-width: fit-content; // todo check if causing problems

	.language-selector-label {
		cursor: default;
		display: flex;
		flex-direction: row-reverse;

		.language-selector-choose-language-label {
			width: max-content;
			white-space: nowrap;
		}

		&:hover {
			opacity: 1;
		}

		img {
			display: flex;
			align-self: center;
			margin-inline: 5px;
			height: 20px;
		}
	}

	select {
		width: fit-content;
		background-color: transparent;
		border: 0;
		cursor: pointer;

		&:hover {
			opacity: 0.6;
		}
	}

	&.rtl {
		flex-direction: row-reverse;

		a {
			flex-direction: row-reverse;
		}

		#locale-selector {
			div[class$='control'] {
				flex-direction: row-reverse;
			}
		}
	}

	#locale-selector {
		z-index: 500001;

		div[class$='control'] {
			background-color: transparent !important;
			border: 0 !important;
			box-shadow: none !important;
			cursor: pointer;
		}

		div[class$='menu'] {
			direction: ltr;
			text-align: left;
		}

		div[class$='indicatorContainer'] {
			//padding: 0 !important;
		}
		div[class$='singleValue'] {
			margin: 0 !important;
		}
	}
}
