.scroll-top-container {
	&:not(.position-sticky) {
		position: fixed;
	}
	inset-inline-end: 30px;
	display: flex;
	justify-content: flex-end;
	z-index: 9999;

	&:not(.bottom-70) {
		bottom: 30px;
	}

	button {
		background-color: var(--tp-gray-15);
		color: var(--tp-white-1);
		border-radius: 50%;
		padding: 20px;
		cursor: pointer;
		transition: opacity 0.2s ease-in-out;
		border: 3px solid var(--tp-white-1);

		&:hover {
			opacity: 0.8;
		}

		i {
			font-size: 20px;
		}
	}
}

@media only screen and (max-width: 750px) {
	.scroll-top-container {
		position: fixed;
		inset-inline-end: 10px;

		&:not(.bottom-70) {
			bottom: 20px;
		}

		button {
			padding: 20px;

			i {
				font-size: 16px;
			}
		}
	}
}
