.mobile-menu {
	display: flex;
	background-color: #51ade5;
	color: white;
	flex-grow: 1;
	width: 100%;
	height: 60px;
	max-height: 60px;
	align-items: center;
	padding-inline: 10px;
	justify-content: space-between;
	position: sticky;
	top: 0;
}
