.sidebar-priority-filter,
.sidebar-category-filter,
.sidebar-preferred-time-filter,
.sidebar-settings {
	cursor: pointer;
	padding: 4px 8px;
	border-radius: 4px;
	transition: opacity 0.3s ease-in-out;
	opacity: 0.5;

	&:hover {
		background-color: var(--tp-white-7);
	}

	&.active {
		opacity: 1;
		background-color: var(--tp-white-7);
	}

	i {
		min-width: 15px;
		text-align: center;
	}
}

.sidebar-settings {
	&.active {
		background-color: transparent;
		color: var(--blue);
	}
}

.direction-rtl {
	.sidebar-priority-filter,
	.sidebar-category-filter,
	.sidebar-preferred-time-filter,
	.sidebar-settings {
		flex-direction: row-reverse;
	}
}
