.sidebar-priority-filter, .sidebar-category-filter, .sidebar-preferred-time-filter, .sidebar-settings {
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 4px;
    transition: opacity 0.3s ease-in-out;
    opacity: 0.5;

    &:hover {
        background-color: #f0f0f0;
    }

    &.active {
        opacity: 1;
        //color: var(--blue);
        background-color: #f0f0f0;
    }

    i {
        min-width: 15px;
        text-align: center;
    }
}

.sidebar-settings {
    &.active {
        background-color: transparent;
        color: var(--blue);
    }
}

.direction-rtl {
    .sidebar-priority-filter, .sidebar-category-filter, .sidebar-preferred-time-filter, .sidebar-settings {
        flex-direction: row-reverse;
    }
} 