.triplan-tag {
  display: flex;
  flex-direction: row;
  position: relative;

  outline: none;
  border: 1px solid #cad1d8;
  background-color: #eaeff5;
  border-radius: 20px;
  min-height: 38px;
  line-height: 100%;
  transition: background-color 0.3s ease-in-out;

  .triplan-tag-text {
    display:flex;
    padding-inline: 20px;
    padding-inline-start: 30px;
    line-height: 38px;
    font-size: 14px;
  }

  .triplan-tag-delete {
    position: absolute;
    left: 13px;
    top: 10px;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }
  }
}