// make circle smaller
.Cal__Day__root.Cal__Day__selected .Cal__Day__selection,
.Cal__Day__root.Cal__Day__today:before,
.Cal__Day__root.Cal__Day__enabled.Cal__Day__highlighted:before, .Cal__Day__root.Cal__Day__enabled:active:before, .Cal__Day__root.Cal__Day__enabled:hover:before {
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
}

// make today's circle border in a different color
.Cal__Day__root.Cal__Day__enabled {
  color: var(--blue-gray) !important;
}

// selected day style
.Cal__Day__root.Cal__Day__selected .Cal__Day__selection {
  .Cal__Day__day {
    top: -7px;
  }
  .Cal__Day__month {
    display: none;
  }
}

// do not mark today in circle since it's irrelevant
.Cal__Day__root.Cal__Day__today.Cal__Day__disabled:before {
    box-shadow: unset !important;
    background-color: #F5F5F8;
}

// today helper (scroll to today)
.Cal__Today__root.Cal__Today__show.Cal__Today__chevronUp {
  background-color:#eaeff4 !important;
  color: var(--blue-gray) !important;
}
.Cal__Today__root .Cal__Today__chevron{
  color: var(--blue-gray) !important;
  position: relative !important;
  margin-top: -18px !important;
  margin-left: 6px !important;
  border-right-color: var(--blue-gray);
  width: 11px;

  path {
    fill: var(--blue-gray) !important;
  }
}

.Cal__Day__root.Cal__Day__disabled {
  opacity: 0.5;
  background-color: #f1f1f1 !important;
}

.Cal__Month__rows,
.Cal__Month__row,
.Cal__Day__root {
  background-color: white !important;
  box-shadow: unset !important;
}

.Cal__Container__listWrapper {
  resize: vertical;
  max-height: 220px;
  min-height: 55px;
}