.triplan-calendar-event {
	display: flex;
	flex-direction: column;
}

.fc-timegrid-slots tbody tr {
	background-color: white;
}

.fc-timegrid-slots tbody tr:first-child {
	background-color: white;
}

// mark all the hours until 07:00 included in darker light to indicate its still early.
.fc-timegrid-slots tbody tr:first-child td,
.fc-timegrid-slots tbody tr:nth-child(2) td
, .fc-timegrid-slots tbody tr:nth-child(3) td,
.fc-timegrid-slots tbody tr:nth-child(4) td,
.fc-timegrid-slots tbody tr:nth-child(5) td,
.fc-timegrid-slots tbody tr:nth-child(6) td,
.fc-timegrid-slots tbody tr:nth-child(7) td,
.fc-timegrid-slots tbody tr:nth-child(8) td
	//.fc-timegrid-slots tbody tr:nth-child(9) td,
	//.fc-timegrid-slots tbody tr:nth-child(10) td,
	//.fc-timegrid-slots tbody tr:nth-child(11) td,
	//.fc-timegrid-slots tbody tr:nth-child(12) td,
	//.fc-timegrid-slots tbody tr:nth-child(13) td,
	//.fc-timegrid-slots tbody tr:nth-child(14) td,
	//.fc-timegrid-slots tbody tr:nth-child(15) td,
	//.fc-timegrid-slots tbody tr:nth-child(16) td
{
	/*opacity: 0.6;*/
	/*background-color: rgba(0,0,0,0.05);*/
	/*background-image: url('/images/dead-hours.png');*/
	/*background-size: 10%;*/
	background-color: #e5e9ef80;
}

.fc-timegrid-slots tbody tr:nth-child(17) td {
	/*border-top:1px solid #2C3E50 !important;*/
}

.fc .fc-scrollgrid-section-body table, .fc .fc-scrollgrid-section-footer table {
	border-bottom-style: solid !important;
}
.fc-v-event:not(.fc-event-end) {
	border-bottom-width: 1px !important;
	border-bottom-style: dashed !important;
}

.fc-event-main,
.fc-event {
	/*border-color: #cccccc;*/
	/*margin: 3px;*/
	border-color: var(--gray);
	margin: 3px;

	//transition: all 0.2s ease;
	//&:hover {
	//    margin: 5px;
	//}

	// to avoid item background from being gray when focusing on it
	&:focus {
		&:after {
			background-color: transparent !important;
		}
	}
}

.fc-event-main.priority-1,
.fc-event.priority-1 {
	border-left: 3px solid var(--red);
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	/*border-color: var(--red)*/
}

.fc-event-main.priority-2,
.fc-event.priority-2 {
	border-left: 3px solid var(--triplan-orange); /* #ffb752; */
	/* #9c27b0 */
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	/*border-color: #9c27b0;*/
}

.fc-event-main.priority-3,
.fc-event.priority-3 {
	border-left: 3px solid var(--black);
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	/*border-color: var(--black);*/
}

.fc-event-main.priority-0,
.fc-event.priority-0 {
	border-left: 3px solid var(--gray); /* #0088d1 */
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	/*border-color: #0088d1;*/
}

.fc-event-main.priority-10,
.fc-event.priority-10 {
	border-left: 3px solid #d2105b; /* #f57c01 */;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	/*border-color: #f57c01*/
}

.fc-event.driving-event {
	background-color: var(--blue) !important;
	border: 0 !important;

	.triplan-calendar-event,
	.fc-event-main,
	.fc-event-time {
		background-color: var(--blue) !important;
		color: white;
	}
}

.fc-daygrid-day-events .fc-event {
	border-left: 3px solid var(--blue) !important;
}

.fc-content {
	padding: 2px;
}

.fc-event {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
	//word-break: break-all;
	word-break: break-word;
}

.fc-event span {
	flex: 1;
}

.fc-remove-event {
	margin-top: 0;
	font-size: 12px;
	opacity: 0.5;
	cursor: pointer;
}

.fc-remove-event:hover {
	opacity: 1;
}

.fc-duplicate-event img {
	width: 12px;
	opacity: 0.5;
	cursor: pointer;
}

.fc-duplicate-event img:hover {
	opacity: 1;
}

.selected-view {
	background-color: var(--fc-button-hover-bg-color, #1e2b37) !important;
	border-color: #1a252f !important;
}

button.fc-customTitle-button.fc-button.fc-button-primary {
	border: 0 !important;
	background-color: transparent !important;
	cursor: default !important;
	font-size: 20px;
	max-width: 500px;
}

.mobile-add-calendar-event-button {
	position: fixed;
	z-index:999;
	background-color: #0078D4; /* Outlook blue color */
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	width: 56px;
	height: 56px;
	bottom: 70px;
	left: 30px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.15);
	color: white;
	font-size: 50px;
	font-weight: 200;
	user-select: none;
	cursor: pointer;

	&:hover {
		background-color: #004B8A;
	}
}

.fc-header-toolbar {
	// for switch days
	margin-bottom: 35px !important;
}

.fc .fc-button:disabled {
	opacity: 0.3 !important;
}

.fc-timegrid-event-harness {
	&:hover {
		z-index: 100 !important;
	}
}

/* Add independent scrolling for calendar container */
.triplan-calendar-container {
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	position: relative;
	z-index: 2; /* Increased to ensure it's above other elements during drag */
	width: 100%;
}