.triplan-calendar-event {
	display: flex;
	flex-direction: column;
}

.fc-timegrid-slots tbody tr {
	background-color: var(--tp-white-1);
}

.fc-timegrid-slots tbody tr:first-child {
	background-color: var(--tp-white-1);
}

// mark all the hours until 07:00 included in darker light to indicate its still early.
.fc-timegrid-slots tbody tr:first-child td,
.fc-timegrid-slots tbody tr:nth-child(2) td
, .fc-timegrid-slots tbody tr:nth-child(3) td,
.fc-timegrid-slots tbody tr:nth-child(4) td,
.fc-timegrid-slots tbody tr:nth-child(5) td,
.fc-timegrid-slots tbody tr:nth-child(6) td,
.fc-timegrid-slots tbody tr:nth-child(7) td,
.fc-timegrid-slots tbody tr:nth-child(8) td
	//.fc-timegrid-slots tbody tr:nth-child(9) td,
	//.fc-timegrid-slots tbody tr:nth-child(10) td,
	//.fc-timegrid-slots tbody tr:nth-child(11) td,
	//.fc-timegrid-slots tbody tr:nth-child(12) td,
	//.fc-timegrid-slots tbody tr:nth-child(13) td,
	//.fc-timegrid-slots tbody tr:nth-child(14) td,
	//.fc-timegrid-slots tbody tr:nth-child(15) td,
	//.fc-timegrid-slots tbody tr:nth-child(16) td
{
	/*opacity: 0.6;*/
	/*background-color: rgba(0,0,0,0.05);*/
	/*background-image: url('/images/dead-hours.png');*/
	/*background-size: 10%;*/
	background-color: var(--tp-white-7);
}

.fc .fc-scrollgrid-section-body table,
.fc .fc-scrollgrid-section-footer table {
	border-bottom-style: solid !important;
}
.fc-v-event:not(.fc-event-end) {
	border-bottom-width: 1px !important;
	border-bottom-style: dashed !important;
}

.fc-event-main,
.fc-event {
	border-color: var(--tp-gray-5);
	margin: 3px;

	// to avoid item background from being gray when focusing on it
	&:focus {
		&:after {
			background-color: transparent !important;
		}
	}
}

.fc-event-main.priority-1,
.fc-event.priority-1 {
	border-left: 3px solid var(--tp-red-2);
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	/*border-color: var(--tp-red-2)*/
}

.fc-event-main.priority-2,
.fc-event.priority-2 {
	border-left: 3px solid var(--tp-orange-1);
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

.fc-event-main.priority-3,
.fc-event.priority-3 {
	border-left: 3px solid var(--tp-black);
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	/*border-color: var(--tp-black);*/
}

.fc-event-main.priority-0,
.fc-event.priority-0 {
	border-left: 3px solid var(--tp-gray-5);
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

.fc-event-main.priority-10,
.fc-event.priority-10 {
	border-left: 3px solid var(--tp-red-3);
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

.fc-event.driving-event {
	background-color: var(--tp-blue-4) !important;
	border: 0 !important;

	.triplan-calendar-event,
	.fc-event-main,
	.fc-event-time {
		background-color: var(--tp-blue-4) !important;
		color: var(--tp-white-1);
	}
}

.fc-daygrid-day-events .fc-event {
	border-left: 3px solid var(--tp-blue-4) !important;
}

.fc-content {
	padding: 2px;
}

.fc-event {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
	//word-break: break-all;
	word-break: break-word;
}

.fc-event span {
	flex: 1;
}

.fc-remove-event {
	margin-top: 0;
	font-size: 12px;
	opacity: 0.5;
	cursor: pointer;
}

.fc-remove-event:hover {
	opacity: 1;
}

.fc-duplicate-event img {
	width: 12px;
	opacity: 0.5;
	cursor: pointer;
}

.fc-duplicate-event img:hover {
	opacity: 1;
}

.selected-view {
	background-color: var(--fc-button-hover-bg-color, var(--tp-black-4)) !important;
	border-color: var(--tp-gray-16) !important;
}

button.fc-customTitle-button.fc-button.fc-button-primary {
	border: 0 !important;
	background-color: transparent !important;
	cursor: default !important;
	font-size: 20px;
	max-width: 500px;
}

.mobile-add-calendar-event-button {
	position: fixed;
	z-index: 999;
	background-color: var(--tp-blue-4); /* Outlook blue color */
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	width: 56px;
	height: 56px;
	bottom: 70px;
	left: 30px;
	box-shadow: 0 2px 4px var(--tp-transparent-black-4);
	color: var(--tp-white-1);
	font-size: 50px;
	font-weight: 200;
	user-select: none;
	cursor: pointer;

	&:hover {
		background-color: var(--tp-blue-6);
	}
}

.fc-header-toolbar {
	// for switch days
	margin-bottom: 35px !important;
}

.fc .fc-button:disabled {
	opacity: 0.3 !important;
}

.fc-timegrid-event-harness {
	&:hover {
		z-index: 100 !important;
	}
}

/* Add independent scrolling for calendar container */
@media only screen and (min-width: 750px) {
	.triplan-calendar-container {
		height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		position: relative;
		width: 100%;
	}
}
