.map-container {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
	height: calc(100% - 10px);

	.search-container {
		display: flex;
		flex-grow: 0;
	}

	/* make the map container background to have color even when there aren't any places yet */
	.map-header + div {
		 &:not(.visible-items-pane) {
			background-color: #f0eded;
		}
	}

	.map-search-location-input {
		position: relative;

		.map-header-location-input-search {
			border: 1px solid #dde3eb;
			padding: 5px;
			flex-grow: 1;
			flex-shrink: 0;
			height: 38px !important;
		}

		.clear-search {
			position: absolute;
			top: 5px;
			right: 10px;
			opacity: 0.6;
			cursor: pointer;

			&:hover {
				opacity: 0.4;
			}
		}
	}

	.visible-items-pane {
		&:not(.mobile) {
			position: absolute;
			left: 15px;
		}
		bottom: 23px;
		z-index: 999;
		background-color: white;
		padding-block: 10px;
		padding-inline: 5px;
		/* border-radius: 20px; */
		color: #666666;
		border: #e6e6e6;

		max-height: 270px;
		height: 270px;
		min-height: 270px;

		&.combined {
			max-height: 95px;
			height: 95px;
			min-height: 95px;

			bottom: 5px;
			left: 5px;

			.visible-items-header {
				display: none;
			}
		}

		//background-color: whitesmoke;

		display: flex;
		flex-direction: column;
		gap: 5px;
		max-width: 250px;
		width: 250px;

		box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
		border-radius: 2px;

		.visible-items-header {
			padding-inline: 10px;
		}

		.search-container {
			padding-inline: 10px;

			input[type='text'] {
				min-width: unset;
				border-radius: 0;
				height: unset;
			}
		}

		.visible-items-fc-events {
			max-height: 200px;
			overflow: auto;
			padding-inline: 5px;

			.fc-event {
				cursor: pointer;
			}
		}
	}
}

.fa-marker-text {
	display: flex;
	white-space: nowrap;
	background-color: white;
	padding: 5px;
	//border-radius: 30px;
	color: #666666;
	box-shadow: rgb(0 0 0 / 30%) 0 1px 4px -1px;
	border-radius: 2px;
}

.js-image-slider {
	display: flex;
	align-items: center;
	gap: 8px;

	ul {
		display: flex;
		flex-direction: row;
		gap: 8px;
		padding: 0;
		margin: 0;

		li {
			list-style: none;
			position: relative;

			img {
				height: 100px;
				width: 150px;
				min-height: 100px;
				max-height: 100px;
				min-width: 150px;
				max-width: 150px;
			}

			img:before {
				content: ' ';
				display: block;
				position: absolute;
				height: 100px;
				width: 150px;
				background-image: url('../../../images/no-image-fallback.png');
				background-size: auto 100%;
				background-position: center;
				background-repeat: no-repeat;
				background-color: #eeeeee;
			}
		}
	}
}

.marker-label {
	position: relative;
	top: 20px;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.visible-items-calendar-indicator {
	&.fa-calendar-check-o {
		color: var(--blue);
		cursor: default;
	}
	&.fa-calendar-times-o {
		//color: var(--red);
		color: var(--black);
		opacity: 0.6;
		&:hover {
			opacity: 0.45;
		}
	}
}

.map-filter-priorities-container {
	display: flex;
	gap: 10px;
	align-items: center;

	.map-filter-priorities {
		display: flex;
		gap: 5px;
	}

	.map-filter-toggle {
		cursor: pointer;
		transition: opacity 0.2s ease-in-out;

		&:hover {
			opacity: 0.6;
		}

		&.active {
			color: var(--blue);

			&:hover {
				color: var(--blue) !important;
			}
		}
	}
}

body.rtl {
	.map-filter-priorities-container {
		direction: rtl;
	}
}