.map-container {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
	height: calc(100% - 10px);

	.search-container {
		display: flex;
		flex-grow: 0;
	}

	/* make the map container background to have color even when there aren't any places yet */
	.map-header + div {
		&:not(.visible-items-pane) {
			background-color: var(--tp-gray-1);
		}
	}

	.map-search-location-input {
		position: relative;

		.map-header-location-input-search {
			border: 1px solid var(--tp-white-8);
			padding: 5px;
			flex-grow: 1;
			flex-shrink: 0;
			height: 38px !important;

			// add border radius
			border-radius: 18px;
			padding-inline: 15px;
		}

		.clear-search {
			position: absolute;
			top: 5px;
			right: 10px;
			opacity: 0.6;
			cursor: pointer;

			&:hover {
				opacity: 0.4;
			}
		}
	}

	.visible-items-pane {
		&.mobile {
			max-height: 270px;
			height: 270px;
			min-height: 270px;
			resize: none;
		}
		&:not(.mobile) {
			position: absolute;
			left: 5px;
		}
		top: 5px;
		z-index: 999;
		background-color: var(--tp-white-1);
		padding-block: 10px;
		padding-inline: 5px;
		/* border-radius: 20px; */
		color: var(--tp-gray-8);
		border: var(--tp-white-9);

		//max-height: 270px;
		//height: 270px;
		//min-height: 270px;
		min-height: 120px;
		//max-height: 50%;
		height: 50%;
		max-height: CALC(100% - 10px);
		resize: vertical;
		overflow: auto;

		&.combined {
			//max-height: 95px;
			//height: 95px;
			min-height: 120px;

			//bottom: 5px;
			left: 5px;

			//.visible-items-header {
			//	display: none;
			//}
		}

		//background-color: whitesmoke;

		display: flex;
		flex-direction: column;
		gap: 5px;
		max-width: 250px;
		width: 250px;

		box-shadow: var(--tp-transparent-black-3) 0px 1px 4px -1px;
		border-radius: 2px;

		.visible-items-header {
			padding-inline: 10px;
		}

		.search-container {
			padding-inline: 10px;

			input[type='text'] {
				min-width: unset;
				border-radius: 0;
				height: unset;
			}
		}

		.visible-items-fc-events {
			//max-height: 200px;
			max-height: 100%;
			overflow: auto;
			padding-inline: 5px;

			.fc-event {
				cursor: pointer;
			}
		}
	}

	.secondary-button.calculate-distances-button {
		padding-inline: 16px;
	}
}

.fa-marker-text {
	display: flex;
	white-space: nowrap;
	background-color: var(--tp-white-1);
	padding: 5px;
	//border-radius: 30px;
	color: var(--tp-gray-8);
	box-shadow: var(--tp-transparent-black-3) 0 1px 4px -1px;
	border-radius: 2px;
}

.js-image-slider {
	display: flex;
	align-items: center;
	gap: 8px;

	ul {
		display: flex;
		flex-direction: row;
		gap: 8px;
		padding: 0;
		margin: 0;

		li {
			list-style: none;
			position: relative;

			img {
				height: 100px;
				width: 150px;
				min-height: 100px;
				max-height: 100px;
				min-width: 150px;
				max-width: 150px;
			}

			img:before {
				content: ' ';
				display: block;
				position: absolute;
				height: 100px;
				width: 150px;
				background-image: url('../../../images/no-image-fallback.png');
				background-size: auto 100%;
				background-position: center;
				background-repeat: no-repeat;
				background-color: var(--tp-gray-2);
			}
		}
	}
}

.marker-label {
	position: relative;
	top: 20px;
	text-shadow: -1px 0 var(--tp-white-1), 0 1px var(--tp-white-1), 1px 0 var(--tp-white-1), 0 -1px var(--tp-white-1);
}

.visible-items-calendar-indicator {
	&.fa-calendar-check-o {
		color: var(--blue);
		cursor: default;
	}
	&.fa-calendar-times-o {
		//color: var(--red);
		color: var(--black);
		opacity: 0.6;
		&:hover {
			opacity: 0.45;
		}
	}
}

.map-container {
	hr.margin-block-2 {
		width: 100%;
	}
}

.actual-filters-container {
	margin-top: 10px;
}

.map-filters-container {
	display: flex;
	align-items: start;
	gap: 16px;
	justify-content: space-between;
	width: 100%;
	flex-wrap: wrap;

	&.actual-filters {
		padding-top: 4px;
		padding-bottom: 4px;
		background-color: var(--tp-transparent-black-02);
		border-bottom: 1px solid var(--tp-gray-4);
		border-top: 1px solid var(--tp-gray-4);
	}

	.map-filter-priorities {
		display: flex;
		gap: 5px;
	}

	.map-filter-priorities,
	.map-scheduled-or-not,
	.map-view-selection,
	.calculate-distances-button {
		flex-shrink: 0;
	}

	.map-filter-toggle {
		cursor: pointer;
		transition: opacity 0.2s ease-in-out;

		&:hover {
			opacity: 0.6;
		}

		&.active {
			color: var(--blue);

			&:hover {
				color: var(--blue) !important;
			}
		}
	}

	.map-view-mode {
		display: flex;
		gap: 5px;
	}

	#map-view-mode {
		input[id^='react-select-'][id$='-input'] {
			border-bottom: 0 !important;
		}
	}
}

body.rtl {
	.map-filters-container {
		direction: rtl;
	}
}

body.ltr {
	.visible-items-pane {
		&:not(.mobile) {
			&.combined {
				left: unset;
				right: 5px;
			}
		}
	}
}

.no-items-on-map-placeholder {
	display: flex;
	flex-direction: column;
	gap: 4px;
	position: absolute;
	height: 100%;
	padding-inline: 20px;
	width: 100%;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	padding-top: 30px;

	.no-items-on-map-placeholder-image {
		width: 10%;
		max-width: 200px;
		min-width: 100px;
		margin-bottom: 30px;
	}

	.no-items-on-map-placeholder-title {
		white-space: pre-line;
		font-weight: bold;
	}

	.no-items-on-map-placeholder-content,
	.no-items-on-map-placeholder-content-bold {
		white-space: pre-line;
	}

	.no-items-on-map-placeholder-content-bold {
		color: var(--blue);
	}
}

body.rtl {
	.no-items-on-map-placeholder {
		direction: rtl;
	}
}

@keyframes blink {
	50% {
		opacity: 0;
	}
}

@keyframes notice-border {
	0% {
		border-color: var(--tp-gray-5);
	}
	50% {
		border-color: var(--blue);
	}
	100% {
		border-color: var(--tp-gray-5);
	}
}

.with-blink-animation {
	input {
		animation-name: notice-border; // blink;
		animation-duration: 2s;
		animation-delay: 3s;
		animation-iteration-count: infinite;
	}
}

.pc-map-view-selection-container {
	display: flex;
	flex: 1 1 0;
	min-width: 0;
	justify-content: flex-end;
}
