.item-not-found-placeholder {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	justify-content: center;
	width: 100%;

	img {
		max-width: 200px;
		filter: invert(0.15);
	}
}

.manage-item-page {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
	text-align: center;
	padding-bottom: 30px;
	align-items: center;

	.manage-item-navigation {
		background-color: var(--tp-transparent-black-2);
		padding: 3px;
		border-radius: 20px;
		width: CALC(100% - 45px);
		min-height: 40px;
		justify-content: center;
		display: flex;
		align-items: center;
		//direction: ltr;
		gap: 5px;
	}

	.manage-item {
		display: flex;
		//flex-direction: row;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding-inline: 30px;
		//background-color: red;
		max-height: 600px;
		overflow: auto;

		i {
			//margin-top: 30px;
			font-size: 50px;
			position: sticky;
			top: 100px;

			&.fa-external-link {
				font-size: 20px;
				line-height: 40px;
			}

			&.disabled {
				cursor: default;
				opacity: 0.2;
			}
		}

		.manage-item-form {
			display: flex;
			flex-direction: column;
			gap: 10px;
			height: 100%;
			padding-inline: 20px;

			.manage-item-form-row {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				gap: 10px;

				.manage-item-form-row-field {
					display: flex;
					justify-content: center;
					gap: 4px;
				}

				label {
					margin: 0;
					width: 120px;
					text-align: center;
					user-select: none;
				}

				input {
					padding-inline: 15px;
					border: 1px solid var(--tp-white-8) !important;
					border-radius: 20px;
					height: 40px;
					min-width: 450px !important;

					&[type='text'] {
						min-width: 300px;
					}
				}

				textarea {
					padding-inline: 15px;
					border: 1px solid var(--tp-white-8);
					border-radius: 20px;
					min-width: 800px;

					&:not(:disabled) {
						height: 200px;
					}
				}

				input,
				textarea {
					&.unsaved {
						background-color: var(--tp-soft-yellow);
					}
				}

				.icon-selector,
				.triplan-selector {
					max-width: 450px;

					div[class$='-control'] {
						border: 1px solid var(--tp-white-8) !important;
						border-radius: 20px !important;
						max-width: 450px;
						height: 40px !important;

						padding-inline-start: 10px;
					}

					//div[class$='placeholder'],
					//div[class$='Input'],
					//div[class$='singleValue'] {
					//  padding-inline-start: 10px;
					//}

					input {
					}

					input {
						border: 0 !important;
						height: 40px !important;
					}
				}

				.image-container {
					align-items: center;
					margin-top: 10px;
					display: flex;
					flex-direction: column;
					gap: 5px;

					.slick-slider {
						margin-bottom: 0 !important;
					}

					img {
						//min-height: 40px;
						cursor: pointer;
					}
				}
			}
		}
	}

	.manage-item-form-later-button,
	.manage-item-form-save-button,
	.manage-item-form-delete-button {
		width: 200px;
	}
}

body.rtl {
	.manage-item {
		//flex-direction: row-reverse;
		.manage-item-form-row {
			direction: rtl;
			text-align: right;
		}
	}
}
